<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.ztworld.mapper.ZTWorldTypeWorldMapper">

	<resultMap type="com.imzhitu.admin.common.pojo.ZTWorldTypeWorldDto" id="ZTWorldTypeWorldMap">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="worldId" column="world_id" jdbcType="INTEGER"/>
		<result property="typeId" column="type_id" jdbcType="INTEGER"/>
		<result property="superb" column="superb" jdbcType="INTEGER"/>
		<result property="typeValid" column="type_valid" jdbcType="INTEGER"/>
		<result property="serial" column="serial" jdbcType="INTEGER"/>
		<result property="weight" column="weight" jdbcType="INTEGER"/>
		<result property="recommenderId" column="recommender_id" jdbcType="INTEGER"/>
		<result property="shortLink" column="short_link" jdbcType="VARCHAR"/>
		<result property="worldName" column="world_name" jdbcType="VARCHAR"/>
		<result property="worldDesc" column="world_desc" jdbcType="VARCHAR"/>
		<result property="worldLabel" column="world_label" jdbcType="VARCHAR"/>
		<result property="worldType" column="world_type" jdbcType="VARCHAR"/>
		<result property="dateAdded" column="date_added" jdbcType="TIMESTAMP"/>
		<result property="dateModified" column="date_modified" jdbcType="TIMESTAMP"/>
		<result property="authorId" column="author_id" jdbcType="INTEGER"/>
		<result property="authorName" column="user_name" jdbcType="VARCHAR"/>
		<result property="authorAvatar" column="user_avatar" jdbcType="VARCHAR"/>
		<result property="star" column="star" jdbcType="INTEGER"/>
		<result property="trust" column="trust" jdbcType="INTEGER"/>
		<result property="clickCount" column="click_count" jdbcType="INTEGER"/>
		<result property="likeCount" column="like_count" jdbcType="INTEGER"/>
		<result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
		<result property="keepCount" column="keep_count" jdbcType="INTEGER"/>
		<result property="coverPath" column="cover_path" jdbcType="VARCHAR"/>
		<result property="titlePath" column="title_path" jdbcType="VARCHAR"/>
		<result property="titleThumbPath" column="title_thumb_path" jdbcType="VARCHAR"/>
		<result property="longitude" column="longitude" jdbcType="FLOAT"/>
		<result property="latitude" column="latitude" jdbcType="FLOAT"/>
		<result property="locationDesc" column="location_desc" jdbcType="VARCHAR"/>
		<result property="locationAddr" column="location_addr" jdbcType="VARCHAR"/>
		<result property="phoneCode" column="phone_code" jdbcType="INTEGER"/>
		<result property="province" column="province" jdbcType="VARCHAR"/>
		<result property="city" column="city" jdbcType="VARCHAR"/>
		<result property="size" column="size" jdbcType="INTEGER"/>
		<result property="childCount" column="child_count" jdbcType="INTEGER"/>
		<result property="valid" column="valid" jdbcType="INTEGER"/>
		<result property="shield" column="shield" jdbcType="INTEGER"/>
		<!-- 
		<result property="" column="short_link" jdbcType="INTEGER"/>
		 -->
		<result property="recommenderName" column="recommenderName" jdbcType="VARCHAR"/>
		<result property="addDate" column="date_add" jdbcType="TIMESTAMP"/>
		<result property="modifyDate" column="date_modify" jdbcType="TIMESTAMP"/>
		<result property="reView" column="review" jdbcType="VARCHAR"/>
		
		<result property="userInfo.id" column="author_id" jdbcType="INTEGER"/>
		<result property="userInfo.userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="userInfo.userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
		<result property="userInfo.userAvatarL" column="user_avatar_l" jdbcType="VARCHAR"/>
		<result property="userInfo.sex" column="sex" jdbcType="INTEGER"/>
		<result property="userInfo.email" column="email" jdbcType="VARCHAR"/>
		<result property="userInfo.address" column="address" jdbcType="VARCHAR"/>
		<result property="userInfo.province" column="province" jdbcType="VARCHAR"/>
		<result property="userInfo.city" column="city" jdbcType="VARCHAR"/>
		<result property="userInfo.registerDate" column="register_date" jdbcType="TIMESTAMP"/>
		<result property="userInfo.signature" column="signature" jdbcType="VARCHAR"/>
		<result property="userInfo.userLabel" column="user_label" jdbcType="VARCHAR"/>
		<result property="userInfo.star" column="star" jdbcType="INTEGER"/>
		<result property="userInfo.phoneCode" column="phone_code" jdbcType="INTEGER"/>
		<result property="userInfo.online" column="online" jdbcType="INTEGER"/>
		<result property="userInfo.platformVerify" column="platform_verify" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- INSERT -->
	<insert id="saveTypeWorld">
		insert into hts.htworld_type_world
			(id,world_id, type_id, superb, valid, serial, weight, recommender_id,date_add,date_modify) 
		values (#{id},#{worldId},#{typeId},#{superb},#{valid},#{serial},#{weight},#{recommenderId},NOW(),NOW())	
	</insert>
	
	<!-- 分页查询 -->
	<select id="queryTypeWorld" resultMap="ZTWorldTypeWorldMap">
		select hw.id,hw.world_id,hw.type_id,hw.superb,hw.valid as type_valid,hw.serial,hw.weight,hw.recommender_id,hw.date_add,hw.date_modify,hw.review ,h.*,
			   u0.user_name, u0.user_avatar,u0.user_avatar_l,u0.sex,u0.email,u0.birthday,
			   u0.signature,u0.address,u0.province ,u0.city ,u0.register_date,u0.user_label,u0.star,u0.trust,
			   u0.phone_code,u0.online,u0.platform_verify
		from hts.htworld_htworld as h,
			 hts.htworld_type_world hw , 
			 hts.user_info as u0,
			 hts.htworld_type as ht,
			 hts_admin.admin_user_info as aui
			 <if test='sort != null and sort == "schedula"'>
			 	,hts_admin.interact_type_schedula its 
			 </if>
		<where>
			h.id=hw.world_id and h.author_id=u0.id and ht.id=hw.type_id and ht.valid=1 and aui.id=hw.recommender_id and h.valid = 1
			 <if test='sort != null and sort == "schedula"'>
			 	and hw.world_id=its.world_id
			 </if>
			<if test="worldId != null">
				and hw.world_id = #{worldId}
			</if>
			<if test="typeId != null">
				and hw.type_id = #{typeId}
			</if>
			<if test="valid != null">
				and hw.valid = #{valid}
			</if>
			<if test="superb != null">
				and hw.superb = #{superb}
			</if>
			<if test="weight != null">
				and hw.weight = #{weight}
			</if>
			<if test="recommenderId != null and recommenderId == 0 ">
				and hw.recommender_id = #{recommenderId} 
			</if>
			<if test="recommenderId != null and recommenderId != 0 ">
				and hw.recommender_id != 0
			</if>
			<if test="isSorted != null">
				and hw.is_sorted = #{isSorted}
			</if>
			<if test="addDate != null and modifyDate != null">
				and hw.date_added between #{addDate} and #{modifyDate}
			</if>
			<!-- 多种排序，导致maxId的选择多样化，因为数据量的变化少，决定不采用maxId 
			<if test="maxId != null and maxId != 0">
				and <![CDATA[hw.serial < #{maxId}]]>
			</if>
			-->
		</where> 
		<choose>
			<when test='sort != null and sort == "schedula"'>
				order by its.schedula desc
			</when>
			<when test='sort !=null and sort =="id"'>
				order by hw.id desc
			</when>
			<otherwise>
				order by hw.serial desc
			</otherwise>
		</choose>
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<!-- 分页查询总数 -->
	<select id="queryTypeWorldTotalCount" resultType="long">
		select count(*)
		from hts.htworld_htworld as h,
			 hts.htworld_type_world hw , 
			 hts.htworld_type as ht
		<where>
			h.id=hw.world_id and ht.id=hw.type_id and ht.valid=1  and h.valid = 1
			<if test="worldId != null">
				and hw.world_id = #{worldId}
			</if>
			<if test="typeId != null">
				and hw.type_id = #{typeId}
			</if>
			<if test="valid != null">
				and hw.valid = #{valid}
			</if>
			<if test="superb != null">
				and hw.superb = #{superb}
			</if>
			<if test="weight != null">
				and hw.weight = #{weight}
			</if>
			<if test="recommenderId != null">
				and hw.recommender_id = #{recommenderId} 
			</if>
			<if test="isSorted != null">
				and hw.is_sorted = #{isSorted}
			</if>
			<if test="addDate != null and modifyDate != null">
				and hw.date_added between #{addDate} and #{modifyDate}
			</if>
			<!-- 多种排序，导致maxId的选择多样化，因为数据量的变化少，决定不采用maxId
			<if test="maxId != null and maxId != 0">
				and <![CDATA[hw.serial < #{maxId}]]>
			</if>
			-->
		</where> 
	</select>
	
	
	<delete id="batchDeleteTypeWorldByWorldIds">
		delete from hts.htworld_type_world 
		where world_id in
		<foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="batchDeleteTypeWorldByIds">
		delete from hts.htworld_type_world 
		where id in
		<foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<update id="updateAllRecommendTypeWorldValid">
		update hts.htworld_type_world 
		set valid=#{afterValid} 
		where recommender_id != 0 and valid=#{beforeValid}
	</update>
	
	<update id="updateTypeWorld">
		update hts.htworld_type_world 
		<set>
			<if test="typeId != null">
				type_id = #{typeId},
			</if>
			<if test="superb != null">
				superb = #{superb},
			</if>
			<if test="weight != null">
				weight = #{weight},
			</if>
			<if test="valid != null">
				valid = #{valid},
			</if>
			<if test="serial != null">
				serial = #{serial},
			</if>
			<if test="reView != null">
				review = #{reView},
			</if>
			<if test="recommenderId != null">
				recommender_id = #{recommenderId},
			</if>
			<if test="isSorted != null">
				is_sorted = #{isSorted},
			</if>
			date_modify = NOW()
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="worldId != null">
				and world_id = #{worldId}
			</if>
		</where>
	</update>
	
	<update id="updateTypeWorldValidByWorldIds">
		update hts.htworld_type_world
		set valid = #{valid},
		date_add = NOW()	
		where world_id in
		<foreach collection="worldIds" index="index" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</update>
	
	<update id="updateTypeWorldWeightByTypeWorldId">
		update hts.htworld_type_world
		set weight = #{weight}
		where 
		<if test="typeWorldId != 0">
		id = #{typeWorldId}
		</if>
	</update>
	
	
	<!-- 根据worldIds查询数据 -->
	<select id="queryTypeWorldByWorldIds" resultMap="ZTWorldTypeWorldMap">
		select hw.id,hw.world_id,hw.type_id,hw.superb,hw.valid as type_valid,hw.serial,hw.weight,hw.recommender_id,hw.date_add,hw.date_modify,hw.review ,h.*,
			   u0.user_name, u0.user_avatar,u0.user_avatar_l,u0.sex,u0.email,u0.birthday,
			   u0.signature,u0.address,u0.province ,u0.city ,u0.register_date,u0.user_label,u0.star,u0.trust,
			   u0.phone_code,u0.online,u0.platform_verify
		from (select * from hts.htworld_type_world where world_id in 
				<foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			 ) as hw LEFT JOIN 
				hts.htworld_htworld as h ON h.id=hw.world_id
			  LEFT JOIN 
			 hts.user_info as u0 ON h.author_id=u0.id
				LEFT JOIN 
			 hts.htworld_type as ht ON ht.id=hw.type_id
				LEFT JOIN
			 hts_admin.admin_user_info as aui ON hw.recommender_id = aui.id
		where
			 ht.valid=1  and h.valid = 1 and h.shield = 0
	</select>
	
	<!-- 根据userId查询分类总数 -->
	<select id="queryTypeWorldCountByUserId" resultType="long">
		select count(htw.id)
		from hts.htworld_type_world htw,hts.htworld_htworld hh 
		where  htw.world_id=hh.id and hh.author_id=#{userId} and hh.valid=1 and hh.shield=0 and htw.valid=1 and htw.superb=1
	</select>
	
	<!-- 查询总数，为了速度,只查询type_world那张表 -->
	<select id="selectTypeWorldTotalCount" resultType="long">
		select count(*)
		from  hts.htworld_type_world hw 
		<where>
			<if test="worldId != null">
				and hw.world_id = #{worldId}
			</if>
			<if test="typeId != null">
				and hw.type_id = #{typeId}
			</if>
			<if test="valid != null">
				and hw.valid = #{valid}
			</if>
			<if test="superb != null">
				and hw.superb = #{superb}
			</if>
			<if test="weight != null">
				and hw.weight = #{weight}
			</if>
			<if test="recommenderId != null">
				and hw.recommender_id = #{recommenderId} 
			</if>
			<if test="isSorted != null">
				and hw.is_sorted = #{isSorted}
			</if>
			<if test="addDate != null and modifyDate != null">
				and hw.date_added between #{addDate} and #{modifyDate}
			</if>
		</where> 
	</select>
</mapper>