<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.ztworld.mapper.ZTWorldMapper">
	<resultMap type="com.imzhitu.admin.common.pojo.ZTWorldDto" id="ztWorldDto">
		<result property="id" column="id" jdbcType="NUMERIC"/>
		<result property="shortLink" column="short_link" jdbcType="VARCHAR"/>
		<result property="authorId" column="author_id" jdbcType="NUMERIC"/>
		<result property="authorName" column="user_name" jdbcType="VARCHAR"/>
		<result property="authorAvatar" column="user_avatar" jdbcType="VARCHAR"/>
		<result property="star" column="star" jdbcType="NUMERIC"/>
		<result property="trust" column="trust" jdbcType="NUMERIC"/>
		<result property="appVer" column="app_ver" jdbcType="FLOAT"/>
		<result property="phoneSys" column="phone_sys" jdbcType="VARCHAR"/>
		<result property="phoneVer" column="phone_ver" jdbcType="VARCHAR"/>
		<result property="worldName" column="world_name" jdbcType="VARCHAR"/>
		<result property="worldDesc" column="world_desc" jdbcType="VARCHAR"/>
		<result property="worldLabel" column="world_label" jdbcType="VARCHAR"/>
		<result property="worldType" column="world_type" jdbcType="VARCHAR"/>
		<result property="typeId" column="type_id" jdbcType="NUMERIC"/>
		<result property="dateAdded" column="date_added" jdbcType="TIMESTAMP"/>
		<result property="dateModified" column="date_modified" jdbcType="TIMESTAMP"/>
		<result property="clickCount" column="click_count" jdbcType="NUMERIC"/>
		<result property="likeCount" column="like_count" jdbcType="NUMERIC"/>
		<result property="commentCount" column="comment_count" jdbcType="NUMERIC"/>
		<result property="keepCount" column="keep_count" jdbcType="NUMERIC"/>
		<result property="coverPath" column="cover_path" jdbcType="VARCHAR"/>
		<result property="titlePath" column="title_path" jdbcType="VARCHAR"/>
		<result property="titleThumbPath" column="title_thumb_path" jdbcType="VARCHAR"/>
		<result property="longitude" column="longitude" jdbcType="DOUBLE"/>
		<result property="latitude" column="latitude" jdbcType="DOUBLE"/>
		<result property="locationDesc" column="location_desc" jdbcType="VARCHAR"/>
		<result property="locationAddr" column="location_addr" jdbcType="VARCHAR"/>
		<result property="phoneCode" column="phone_code" jdbcType="NUMERIC"/>
		<result property="province" column="province" jdbcType="VARCHAR"/>
		<result property="city" column="city" jdbcType="VARCHAR"/>
		<result property="size" column="size" jdbcType="NUMERIC"/>
		<result property="valid" column="valid" jdbcType="NUMERIC"/>
		<result property="latestValid" column="latest_valid" jdbcType="NUMERIC"/>
		<result property="shield" column="shield" jdbcType="NUMERIC"/>
		<result property="squarerecd" column="squarerecd" jdbcType="NUMERIC"/>
		<result property="worldId" column="id" jdbcType="NUMERIC"/>
		<result property="user_level_id" column="user_level_id" jdbcType="INTEGER"/>
		<result property="level_description" column="level_description" jdbcType="VARCHAR"/>
		<result property="channelName" column="channel_name" jdbcType="VARCHAR"/>
		<result property="channelId" column="channel_id" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="getZTWorldByWorldId" resultMap="ztWorldDto">
		select 
			* 
		from 
			hts.htworld_htworld 
		where id = #{id} 
	</select>
	
	<!-- 增加播放数 -->
	<update id="addClickCount">
		update hts.htworld_htworld set click_count=click_count+ #{clickCount} where id=#{worldId} and valid=1
	</update>
	<!-- 减少播放数 -->
	<update id="reduceClickCount">
		update hts.htworld_htworld set click_count=click_count- #{clickCount} where id=#{worldId} and valid=1
	</update>
	
	<!-- 增加喜欢数 -->
	<update id="addLikedCount">
		update hts.htworld_htworld set like_count=like_count + #{likeCount} where id=#{worldId} and valid=1
	</update>
	<!-- 减少喜欢数 -->
	<update id="reduceLikedCount">
		update hts.htworld_htworld set like_count=like_count - #{likeCount} where id=#{worldId} and valid=1
	</update>
	
	<!-- 增加收藏数 -->
	<update id="addKeepCount">
		update hts.htworld_htworld set keep_count=keep_count + #{keepCount} where id=#{worldId} and valid=1
	</update>
	<!-- 减少收藏数 -->
	<update id="reduceKeepCount">
		update hts.htworld_htworld set keep_count=keep_count - #{keepCount} where id=#{worldId} and valid=1
	</update>
	
	<!-- 增加评论数 -->
	<update id="addCommentCount">
		update hts.htworld_htworld set comment_count=comment_count + #{commentCount} where id=#{worldId} and valid=1
	</update>
	<!-- 减少评论数 -->
	<update id="reduceCommentCount">
		update hts.htworld_htworld set comment_count=comment_count + #{commentCount} where id=#{worldId} and valid=1
	</update>
	
	<!-- 更新评论数 -->
	<update id="updateCommentCount">
		update hts.htworld_htworld set comment_count=#{commentCount} where id=#{worldId} and valid=1
	</update>
	
	<!-- 更新收藏数 -->
	<update id="updateKeepCount">
		update hts.htworld_htworld set keep_count=#{keepCount} where id=#{worldId} and valid=1
	</update>
	
	<!-- 更新屏蔽标志 -->
	<update id="updateWorldShield">
		update hts.htworld_htworld set shield=#{shield} where id=#{worldId}
	</update>
	
	<!-- 更新织图 -->
	<update id="updateWorld">
		update hts.htworld_htworld 
		<set>
			<if test="clickCount != null">
				click_count = #{clickCount},
			</if>
			<if test="likeCount != null">
				like_count = #{likeCount},
			</if>
			<if test="authorId != null">
				author_id = #{authorId},
			</if>
			<if test="channelName != null">
				channel_name = #{channelName},
			</if>
			<if test="channelId != null">
				channel_id = #{channelId}
			</if>
		</set>
		where id=#{worldId}
	</update>
	
	<!-- 更新织图分类标签 -->
	<update id="updateWorldTypeLabel">
		update  hts.htworld_htworld set type_id=#{typeId}, world_type=#{worldType} where id=#{worldId}
	</update>
	
	
	<update id="updateLatestValid">
		update hts.htworld_htworld set latest_valid=#{valid}, date_added=#{dateAdded} where id=#{worldId}
	</update>
	
	<!-- 删除织图 -->
	<delete id="deleteByIds">
		delete from hts.htworld_htworld  where id in
		<foreach collection="array" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<select id="queryMaxId" resultType="int">
		select max(id) from hts.htworld_htworld where date_modified between #{dateAdded,jdbcType=TIMESTAMP} and #{dateModified,jdbcType=TIMESTAMP} 
	</select>
	
	<!-- 分页查询 -->
	<select id="queryHTWorldByAttrMap" resultMap="ztWorldDto">
		select h.*, IF(itow.world_id != 'NULL',1,0) as squarerecd
		from
		(	select h2.*,u0.user_name, u0.user_avatar,u0.user_avatar_l,u0.sex,u0.email,u0.birthday,
			u0.signature,u0.address,u0.province as u_province,u0.city as u_city,u0.register_date,u0.user_label,u0.star,u0.trust,
			u0.phone_code as u_phone_code,u0.online,u0.ver app_ver,u0.phone_sys,u0.phone_ver ,iull.user_level_id,iul.level_description
		 	from
		 		hts_admin.interact_user_level_list iull	left join  hts_admin.interact_user_level iul on iull.user_level_id=iul.id
		 		right join hts.user_info as u0 on iull.user_id=u0.id,
		 		hts.htworld_htworld as h2 		 		
		 	<where> 
		 		h2.author_id=u0.id
		 		<if test="dateAdded != null">
		 			<![CDATA[and h2.date_modified>=#{dateAdded}]]>
		 		</if>
		 		<if test="dateModified != null">
		 			<![CDATA[and h2.date_modified<=#{dateModified}]]>
		 		</if> 
			 	<if test="worldId != null">
			 		and h2.id= #{worldId}
			 	</if>
			 	<if test="shortLink != null">
			 		and h2.short_link = #{shortLink}
			 	</if>
			 	<if test="authorId != null">
			 		and h2.author_id = #{authorId}
			 	</if>
			 	<if test="authorName != null">
			 		and u0.user_name = #{authorName}
			 	</if>
			 	<if test="worldLabel != null">
			 		and h2.world_label = #{worldLabel}
			 	</if>
			 	<if test="phoneCode != null">
			 		and h2.phone_code = #{phoneCode}
			 	</if>
			 	<if test="valid != null">
			 		and h2.valid = #{valid}
			 	</if>
			 	<if test="shield != null">
			 		and h2.shield = #{shield}
			 	</if>
			 	<if test="worldDesc != null">
			 		and h2.world_desc like #{worldDesc}
			 	</if>
			 	<if test="user_level_id != null">
			 		and iull.user_level_id = #{user_level_id}
			 	</if>
			 	<if test="world_Ids != null">
			 		and h2.id in
			 		<foreach collection="world_Ids" item="item" index="index" open="(" close=")" separator=",">
						#{item}
					</foreach>
			 	</if>
			 	<if test="maxId != null and maxId != 0">
			 		<![CDATA[ AND h2.id<=#{maxId}]]>
			 	</if>
		 	</where>
		 	order by h2.id desc
		 	<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
		 ) as h
		 left join hts_admin.interact_type_option_world itow
		 on h.id = itow.world_id
		 order by h.id desc
	</select>
	
	<!-- 分页查询 没有织图等级-->
	<select id="queryHTWorld" resultMap="ztWorldDto">
		select h.*,u0.user_name, u0.user_avatar,u0.user_avatar_l,u0.sex,u0.email,u0.birthday,
			u0.signature,u0.address,u0.province as u_province,u0.city as u_city,u0.register_date,u0.user_label,u0.star,u0.trust,
			u0.phone_code as u_phone_code,u0.online,u0.ver app_ver,u0.phone_sys,u0.phone_ver ,iull.user_level_id,iul.level_description
			, IF(itow.world_id,1,0) as squarerecd
		from
		 	(
			 	select h2.* from
			 		hts.htworld_htworld as h2 		 		
			 	<where> 
			 		<if test="dateAdded != null">
			 			<![CDATA[and h2.date_modified>=#{dateAdded}]]>
			 		</if>
			 		<if test="dateModified != null">
			 			<![CDATA[and h2.date_modified<=#{dateModified}]]>
			 		</if> 
				 	<if test="worldId != null">
				 		and h2.id= #{worldId}
				 	</if>
				 	<if test="shortLink != null">
				 		and h2.short_link = #{shortLink}
				 	</if>
				 	<if test="authorId != null">
				 		and h2.author_id = #{authorId}
				 	</if>
				 	<if test="worldLabel != null">
				 		and h2.world_label = #{worldLabel}
				 	</if>
				 	<if test="phoneCode != null">
				 		and h2.phone_code = #{phoneCode}
				 	</if>
				 	<if test="valid != null">
				 		and h2.valid = #{valid}
				 	</if>
				 	<if test="shield != null">
				 		and h2.shield = #{shield}
				 	</if>
				 	<if test="worldDesc != null">
				 		and h2.world_desc like #{worldDesc}
				 	</if>
				 	<if test="world_Ids != null">
				 		and h2.id in
				 		<foreach collection="world_Ids" item="item" index="index" open="(" close=")" separator=",">
							#{item}
						</foreach>
				 	</if>
				 	<if test="maxId != null and maxId != 0">
				 		<![CDATA[ AND h2.id<=#{maxId}]]>
				 	</if>
			 	</where>
			 	order by h2.id desc
			 	<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
		 ) as h 
		 left join hts.user_info as u0 on h.author_id=u0.id 
		 left join hts_admin.interact_user_level_list iull on h.author_id=iull.user_id
		 left join hts_admin.interact_user_level iul on iull.user_level_id=iul.id		 
		 left join hts_admin.interact_type_option_world itow on h.id = itow.world_id
 <where>
		 <if test="isZombie != null and isZombie == 1">
			 h.id in (
			select htworld_id from hts_admin.zombie_world where htworld_id != 0 
			)
		 </if>
		  <if test="isZombie != null and isZombie == 0">
			 h.id not in (
			select htworld_id from hts_admin.zombie_world where htworld_id != 0 
			)
		 </if>
		 </where>
		 order by h.id desc
	</select>
	
	
<!-- 	<select id="queryZombieWorld" resultMap="ztWorldPojo">
		select zwss.schedula,zw.id,zw.world_desc,zw.world_label,zw.world_label_ids,zw.author_id,zw.cover_path,zw.title_path
			,zw.title_thumb_path,zw.longitude,zw.latitude,zw.location_desc,zw.location_addr,zw.provice,zw.city,zw.size
			,zw.complete,zw.htworld_id,zw.short_link,zw.channel_id
		from
		 	(
			 	select zws.zombie_world_id,zws.schedula from
			 		hts_admin.zombie_world_schedual as zws 		 		
			 	<where> 
			 		<if test="dateAdded != null">
			 			<![CDATA[and zws.schedula>=#{dateAdded}]]>
			 		</if>
			 		<if test="dateModified != null">
			 			<![CDATA[and zws.schedula<=#{dateModified}]]>
			 		</if> 
				 	<if test="maxId != null and maxId != 0">
				 		<![CDATA[ AND zws.id<=#{maxId}]]>
				 	</if>
				 	and valid = 1
				 	and finished = 1
			 	</where>
			 	order by zws.id desc
			 	<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
		 ) as zwss,hts_admin.zombie_world zw
		 where zw.id = zwss.zombie_world_id
		 order by zw.id desc
	</select> -->
	
	<!-- 分页查询总数 -->
	<select id="queryHTWorldTotalCount" resultType="long">
		select count(*) from
	 		hts.htworld_htworld as h2 		 		
	 	<where> 
	 		<if test="dateAdded != null">
	 			<![CDATA[and h2.date_modified>=#{dateAdded}]]>
	 		</if>
	 		<if test="dateModified != null">
	 			<![CDATA[and h2.date_modified<=#{dateModified}]]>
	 		</if> 
		 	<if test="worldId != null">
		 		and h2.id= #{worldId}
		 	</if>
		 	<if test="shortLink != null">
		 		and h2.short_link = #{shortLink}
		 	</if>
		 	<if test="authorId != null">
		 		and h2.author_id = #{authorId}
		 	</if>
		 	<if test="worldLabel != null">
		 		and h2.world_label = #{worldLabel}
		 	</if>
		 	<if test="phoneCode != null">
		 		and h2.phone_code = #{phoneCode}
		 	</if>
		 	<if test="valid != null">
		 		and h2.valid = #{valid}
		 	</if>
		 	<if test="shield != null">
		 		and h2.shield = #{shield}
		 	</if>
		 	<if test="worldDesc != null">
		 		and h2.world_desc like #{worldDesc}
		 	</if>
		 	<if test="world_Ids != null">
		 		and h2.id in
		 		<foreach collection="world_Ids" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
		 	</if>
		 	<if test="maxId != null and maxId != 0">
		 		<![CDATA[ AND h2.id<=#{maxId}]]>
		 	</if>
	 	</where>
	</select>
	
	<!-- 分页查询总数 -->
	<select id="queryHTWorldCountByAttrMap" resultType="long" >
		select count(*)
		 	from
		 		hts_admin.interact_user_level_list iull
		 		right join hts.user_info as u0 on iull.user_id=u0.id,
		 		hts.htworld_htworld as h2 		 		
		 	<where> 
		 		h2.author_id=u0.id
		 		<if test="dateAdded != null">
		 			<![CDATA[and h2.date_modified>=#{dateAdded}]]>
		 		</if>
		 		<if test="dateModified != null">
		 			<![CDATA[and h2.date_modified<=#{dateModified}]]>
		 		</if> 
			 	<if test="worldId != null">
			 		and h2.id= #{worldId}
			 	</if>
			 	<if test="shortLink != null">
			 		and short_link = #{shortLink}
			 	</if>
			 	<if test="authorId != null">
			 		and h2.author_id = #{authorId}
			 	</if>
			 	<if test="authorName != null">
			 		and u0.user_name = #{authorName}
			 	</if>
			 	<if test="worldLabel != null">
			 		and h2.world_label = #{worldLabel}
			 	</if>
			 	<if test="phoneCode != null">
			 		and h2.phone_code = #{phoneCode}
			 	</if>
			 	<if test="valid != null">
			 		and h2.valid = #{valid}
			 	</if>
			 	<if test="shield != null">
			 		and h2.shield = #{shield}
			 	</if>
			 	<if test="worldDesc != null">
			 		and h2.world_desc like #{worldDesc}
			 	</if>
			 	<if test="user_level_id != null">
			 		and iull.user_level_id = #{user_level_id}
			 	</if>
			 	<if test="maxId != null and maxId != 0">
			 		<![CDATA[ AND h2.id<=#{maxId}]]>
			 	</if>			 	
		 	</where>
	</select>
	
	<!-- 查询某用户发图总数 -->
	<select id="queryWorldCountByUserId" resultType="long">
		select count(*) from hts.htworld_htworld hh
		where hh.author_id = #{userId}
	</select>
	
	<update id="updateLatestInvalid">
		update hts.htworld_htworld set latest_valid=0 
		where author_id=#{authorId} and latest_valid>0
	</update>
	
</mapper>
