<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.interact.mapper.InteractCommentLabelMapper">
<resultMap type="com.imzhitu.admin.common.pojo.InteractCommentLabel" id="InteractCommentLabelMap">
<result property="id" column="id" jdbcType="INTEGER"/>
<result property="labelName" column="label_name" jdbcType="VARCHAR"/>
</resultMap>

<!--
 查询所有的二级标签 
 create by mishengliang
 -->
<select id="selectInteractCommentLabel" resultMap="InteractCommentLabelMap">
SELECT * 
FROM  interact_comment_label 
WHERE group_id !=0
</select>

<!-- 查找是否存在该标签名 -->
<select id="checkLabelExsistByLabelName" resultType="Integer">
select count(*) from interact_comment_label where label_name=#{labelName}
</select>

<!-- 存储新建的标签 -->
<insert id="saveLabel">
insert into interact_comment_label(label_name,group_id) value(#{labelName},#{groupId})
</insert>

<!-- 功能略复杂，未优化-->
<select id="queryLabel" resultMap="InteractCommentLabelMap">
select * from interact_comment_label 
<!-- <if test="groupId!=null and groupId != 0">
where group_id = #{group_id}
</if>
<if test="firstRow != 0 and limit != 0">
limit #{firstRow},#{limit}
</if>
order by id desc -->
</select>

<select id="queryLabelCount" resultType="long">
select count(*) from interact_comment_label where group_id=#{groupId} and id &lt;= #{maxId}
</select>


<select id="queryLabelGroupCount" resultType="long">
select count(*) from interact_comment_label where group_id= 0 and id &lt;= #{maxId} 
</select>

<update id="updateLabel">
update interact_comment_label set label_name=#{labelName},group_id=#{groupId} where id= #{id}
</update>

</mapper>