<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.interact.mapper.InteractWorldClickMapper">
	<resultMap type="com.imzhitu.admin.common.pojo.InteractWorldClick" id="WorldClickMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="interact_id" property="interactId" jdbcType="INTEGER"/>
		<result column="world_id" property="worldId" jdbcType="INTEGER"/>
		<result column="click" property="click" jdbcType="INTEGER"/>
		<result column="date_added" property="dateAdded" jdbcType="TIMESTAMP"/>
		<result column="date_schedule" property="dateSchedule" jdbcType="TIMESTAMP"/>
		<result column="valid" property="valid" jdbcType="INTEGER"/>
		<result column="finished" property="finished" jdbcType="INTEGER"/>
	</resultMap>
	
	<!--BATCH SAVE -->
	<insert id="batchSaveWorldClick">
		insert into  hts_admin.interact_world_click
			(interact_id,world_id,click,date_added,date_schedule,valid,finished)
		values 
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.interactId},#{item.worldId},#{item.click},#{item.dateAdded},#{item.dateSchedule},#{item.valid},#{item.finished})
		</foreach>
	</insert>
	
	<!--BATCH DELETE By ID-->
	<delete id="batchDeleteWorldClickById">
		delete from hts_admin.interact_world_click
		where id in
		<foreach collection="array" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</delete>	
	
	<!--BATCH DELETE By INTERACT_ID-->
	<delete id="batchDeleteWorldClickByInteractId">
		delete from hts_admin.interact_world_click
		where interact_id in
		<foreach collection="array" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- BATCH UPDATE VALID -->
	<update id="batchUpdateWorldClickValid">
		update hts_admin.interact_world_click set valid=#{valid}
		where id in
		<foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</update>
	
	<!-- BATCH UPDATE FINISHED -->
	<update id="batchUpdateWorldClickFinished">
		update hts_admin.interact_world_click set finished=#{finished}
		where id in
		<foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</update>
	
	<!--UPDATE  -->
	<update id="updateWorldClick">
		update hts_admin.interact_world_click
		<set>
			<if test="valid != null">
				valid = #{valid},
			</if>
			<if test="finished != null">
				finished = #{finished},
			</if>
			<if test="dateSchedule != null">
				date_schedule = #{dateSchedule}
			</if>
		</set>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="interactId != null">
				and interact_id = #{interactId}
			</if>
			<if test="maxId != null and maxId != 0">
				and <![CDATA[ id <= #{maxId}]]>
			</if>
		</where>
	</update>
	
	<!-- SELECT -->
	<select id="queryWorldClick" resultMap="WorldClickMap">
		select * from hts_admin.interact_world_click
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="interactId != null">
				and interact_id = #{interactId}
			</if>
			<if test="worldId != null">
				and world_id = #{worldId}
			</if>
			<if test="valid != null">
				and valid = #{valid}
			</if>
			<if test="finished != null">
				and finished = #{finished}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and id <= #{maxId}]]>
			</if>
			<if test="dateSchedule != null and dateAdded != null">
				and date_schedule between #{dateAdded} and #{dateSchedule}
			</if>
		</where>
		order by id desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<!-- SELECT COUNT -->
	<select id="queryWorldClickTotalCount" resultType="long">
		select count(*)
		from hts_admin.interact_world_click
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="interactId != null">
				and interact_id = #{interactId}
			</if>
			<if test="worldId != null">
				and world_id = #{worldId}
			</if>
			<if test="valid != null">
				and valid = #{valid}
			</if>
			<if test="finished != null">
				and finished = #{finished}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and id <= #{maxId}]]>
			</if>
			<if test="dateSchedule != null and dateAdded != null">
				and date_schedule between #{dateAdded} and #{dateSchedule}
			</if>
		</where>
	</select>
	
	
	<!-- update by interactId -->
	<update id="updateWorldClickValidByMaxInteractId">
		update hts_admin.interact_world_click set valid=#{valid}
		where valid = 1-#{valid} and 
		<![CDATA[interact_id <= #{interactId}]]>
	</update>
	
</mapper>
