<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.interact.mapper.InteractStarRocommendTopicMapper">
	<resultMap type="com.imzhitu.admin.common.pojo.StarRecommendTopic" id="StarRecommendTopic">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="topicType" column="topic_type" jdbcType="INTEGER"/>
		<result property="isWorld" column="is_world" jdbcType="INTEGER"/>
		<result property="shareBanner" column="share_banner" jdbcType="VARCHAR"/>
		<result property="bannerPic" column="banner_pic" jdbcType="VARCHAR"/>
		<result property="title" column="title" jdbcType="VARCHAR"/>
		<result property="introduceHead" column="introduce_head" jdbcType="VARCHAR"/>
		<result property="introduceFoot" column="introduce_foot" jdbcType="VARCHAR"/>
		<result property="stickerButton" column="sticker_button" jdbcType="VARCHAR"/>
		<result property="shareButton" column="share_button" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 增加模块信息 -->
	<insert id="addStarRecommendTopic">
		insert into 
			hts.operations_channel_topic
				(topic_type,is_world,share_banner,banner_pic,title,introduce_head,introduce_foot,sticker_button,share_button) 
			values 
				(#{topicType},#{isWorld},#{shareBanner},#{bannerPic},#{title},#{introduceHead},#{introduceFoot},#{stickerButton},#{shareButton})
	</insert>
	
	<select id="getStarRecommendTopic"  resultMap="StarRecommendTopic">
	select *  from hts.operations_channel_topic
	<where>
	<if test="isWorld!=null ">
	 is_world = #{isWorld}
	 </if>
	 </where>
	 order by id desc
	 <![CDATA[ limit #{start}, #{limites}]]>
	</select>
	
	<update id="updateStarRecommendTopic">
	update hts.operations_channel_topic
	<set>
	<if test=" topicType !=0">
	topic_type=#{topicType},
	</if>
	<if test=" isWorld !=null">
	is_world=#{isWorld},
	</if>
	<if test="shareBanner!=null">
	share_banner=#{shareBanner},
	</if>
	<if test="bannerPic!=null">
	banner_pic=#{bannerPic},
	</if>
	<if test="title!=null">
	title=#{title},
	</if>
	<if test="introduceHead!=null">
	introduce_head=#{introduceHead},
	</if>
	<if test="introduceFoot!=null">
	introduce_foot=#{introduceFoot},
	</if>
	<if test="stickerButton!=null">
	sticker_button=#{stickerButton},
	</if>
	<if test="shareButton!=null">
	share_button=#{shareButton},
	</if>
	</set>
	where 
		id=#{id}
	</update>
	
	<delete id="destoryStarRecommendTopic">
	delete from hts.operations_channel_topic
	where 
		id=#{id}
	</delete>
	
	<select id="getTopicModuleCount"  resultType="INTEGER">
	select count(*) from hts.operations_channel_topic
	</select>
</mapper>