<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.interact.mapper.InteractZombieWorldMapper">
	<resultMap type="com.imzhitu.admin.common.pojo.ZombieWorld" id="ZombieWorldMapper">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="world_name" property="worldName" jdbcType="VARCHAR"/>
		<result column="world_desc" property="worldDesc" jdbcType="VARCHAR"/>
		<result column="world_label" property="worldLabel" jdbcType="VARCHAR"/>
		<result column="world_label_ids" property="worldLabelIds" jdbcType="VARCHAR"/>
		<result column="author_id" property="authorId" jdbcType="INTEGER"/>
		<result column="cover_path" property="coverPath" jdbcType="VARCHAR"/>
		<result column="title_path" property="titlePath" jdbcType="VARCHAR"/>
		<result column="title_thumb_path" property="thumbTitlePath" jdbcType="VARCHAR"/>
		<result column="longitude" property="longitude" jdbcType="DOUBLE"/>
		<result column="latitude" property="latitude" jdbcType="DOUBLE"/>
		<result column="location_addr" property="locationAddr" jdbcType="VARCHAR"/>
		<result column="location_desc" property="locationDesc" jdbcType="VARCHAR"/>
		<result column="province" property="province" jdbcType="VARCHAR"/>
		<result column="city" property="city" jdbcType="VARCHAR"/>
		<result column="size" property="size" jdbcType="INTEGER"/>
		<result column="complete" property="complete" jdbcType="INTEGER"/>
		<result column="date_add" property="addDate" jdbcType="TIMESTAMP"/>
		<result column="date_modify" property="modifyDate" jdbcType="TIMESTAMP"/>
		<result column="htworld_id" property="htworldId" jdbcType="INTEGER"/>
		<result column="short_link" property="shortLink" jdbcType="VARCHAR"/>
		<result column="channel_id" property="channelId" jdbcType="INTEGER"/>
		<result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 插入 -->
	<insert id="insertZombieWorld">
		insert into hts_admin.zombie_world 
		(id,world_name,world_desc,world_label,world_label_ids,author_id,cover_path,title_path,
		 title_thumb_path,longitude,latitude,location_addr,location_desc,size,complete,date_add,date_modify,channel_id,city)
		 values
		 (#{id},#{worldName},#{worldDesc},#{worldLabel},#{worldLabelIds},#{authorId},#{coverPath},#{titlePath},
		  #{thumbTitlePath},#{longitude},#{latitude},#{locationAddr},#{locationDesc},#{size},#{complete},#{addDate},#{modifyDate},#{channelId},#{city})
	</insert>
	
	<!-- 更新马甲织图 -->
	<update id="updateZombieWorld">
		update hts_admin.zombie_world
		<set>
	      <if test="worldDesc != null">
	      	world_desc = #{worldDesc},
	      </if>
	      <if test="channelId != null">
	      	channel_id = #{channelId},
	      </if>
	      <if test="authorId != null">
	      	author_id = #{authorId},
	      </if>
	      <if test="locationDesc != null">
	      	location_desc = #{locationDesc},
	      </if>
	      <if test="locationAddr != null">
	      	location_addr = #{locationAddr},
	      </if>
	      <if test="longitude != null">
	      	longitude = #{longitude},
	      </if>
	      <if test="latitude != null">
	      	latitude = #{latitude},
	      </if>
	      <if test="province != null">
	      	province = #{province},
	      </if>
	      <if test="city != null">
	      	city = #{city},
	      </if>
	      <if test="modifyDate != null">
	      	date_modify = #{modifyDate}
	      </if>
	    </set>
	  	where id=#{id}
	</update>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteZombieWorld">
		delete from hts_admin.zombie_world 
		where id in 
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 更新完成情况 -->
	<update id="updateComplete">
		update hts_admin.zombie_world set complete=1,date_modify = #{modifyDate},htworld_id=#{htworldId},short_link=#{shortLink}
		where id=#{id}
	</update>
	
	<!-- 更新标签 -->
	<update id="updateZombieWorldLabel">
		update hts_admin.zombie_world set world_label=#{worldLabel},date_modify = #{modifyDate}
		where id=#{id}
	</update>
	
		
	<!-- 查询 id-->
	<select id="queryZombieWorldId" resultType="Integer">
		select id from hts_admin.zombie_world zw
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="complete != null">
				and complete = #{complete}
			</if>
		</where>
		<if test="limit != null">
			limit 0,#{limit}
		</if>
	</select>
	
	<!-- 查询 -->
	<select id="queryZombieWorld" resultMap="ZombieWorldMapper">
		select * from hts_admin.zombie_world zw
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="complete != null">
				and complete = #{complete}
			</if>
		</where>
		<if test="limit != null">
			limit 0,#{limit}
		</if>
	</select>
	
	<!-- 查询总数 -->
	<select id="queryZombieWorldTotalCount" resultType="long">
		select count(*) from hts_admin.zombie_world zw
		where complete = 0
	</select>
	
	<!-- 分页查询 -->
	<select id="queryZombieWorldForTable" resultMap="ZombieWorldMapper">
		select zw.*,oc.channel_name from hts_admin.zombie_world zw
		left join hts.operations_channel oc on zw.channel_id=oc.id 
		<where>
			<if test="id != null">
				zw.id = #{id}
			</if>
			<if test="complete != null">
				and zw.complete = #{complete}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and zw.id <= #{maxId}]]>
			</if>
			<if test="modifyDate != null and addDate != null">
				and zw.date_modify between #{addDate} and #{modifyDate}
			</if>
			<if test="channelId != null">
				and zw.channel_id = #{channelId}
			</if>
			<if test="schedulaFlag != null">
				and exists(select zws.id from hts_admin.zombie_world_schedula zws where zws.zombie_world_id=zw.id)
			</if>
			<if test="schedulaFlag == null">
				and not exists(select zws.id from hts_admin.zombie_world_schedula zws where zws.zombie_world_id=zw.id)
			</if>
			
		</where>
		order by zw.id desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<!-- 分页查询总数 -->
	<select id="queryZombieWorldTotalCountForTable" resultType="long">
		select count(*) from hts_admin.zombie_world zw
		left join hts_admin.zombie_world_schedula zws on zw.id=zws.zombie_world_id
		<where>
			<if test="id != null">
				zw.id = #{id}
			</if>
			<if test="complete != null">
				and zw.complete = #{complete}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and zw.id <= #{maxId}]]>
			</if>
			<if test="modifyDate != null and addDate != null">
				and zw.date_modify between #{addDate} and #{modifyDate}
			</if>
			<if test="channelId != null">
				and zw.channel_id = #{channelId}
			</if>
			<if test="schedulaFlag != null">
				and exists(select zws.id from hts_admin.zombie_world_schedula zws where zws.zombie_world_id=zw.id)
			</if>
			<if test="schedulaFlag == null">
				and not exists(select zws.id from hts_admin.zombie_world_schedula zws where zws.zombie_world_id=zw.id)
			</if>
		</where>
	</select>
	
</mapper>