<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.interact.mapper.InteractStarModuleMapper">
	<resultMap type="com.imzhitu.admin.common.pojo.StarModule" id="StarModule">
	<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="title" column="title" jdbcType="VARCHAR"/>
		<result property="subtitle" column="subtitle" jdbcType="VARCHAR"/>
		<result property="userId" column="user_id" jdbcType="INTEGER"/>
		<result property="pics" column="pics" jdbcType="VARCHAR"/>
		<result property="pic02" column="pic02" jdbcType="VARCHAR"/>
		<result property="pic03" column="pic03" jdbcType="VARCHAR"/>
		<result property="pic04" column="pic04" jdbcType="VARCHAR"/>
		<result property="intro" column="intro" jdbcType="VARCHAR"/>
		<result property="topicId" column="topic_id" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- 增加模块信息 -->
	<insert id="addStarModule">
		insert into 
			hts.operations_channel_topic_module
				(title,subtitle,user_id,pics,pic02,pic03,pic04,intro,topic_id) 
			values 
				(#{title},#{subtitle},#{userId},#{pics},#{pic02},#{pic03},#{pic04},#{intro},#{topicId})
	</insert>
	
	
	<select id="getStarModuleCount"  resultType="Integer">
	select count(*)
	 from hts.operations_channel_topic_module
 	 <where>
	 <if test="topicId!=null and topicId!=0">
	 topic_id = #{topicId}
	 </if>
	 </where>
	</select>
	
	
	<select id="getStarModule"  resultMap="StarModule">
	select *
	 from hts.operations_channel_topic_module
 	 <where>
	 <if test="topicId!=null and topicId!=0">
	 topic_id = #{topicId}
	 </if>
<!-- 	 <if test="maxId!=null and maxId!=0">
	and<![CDATA[id < #{maxId}]]>
	 </if> -->
	 </where>
	 order by topic_id desc,order_index asc
	 <![CDATA[ limit #{start}, #{limites}]]>
	</select>
	
	<update id="updateStarModule">
	update hts.operations_channel_topic_module
	<set>
	<if test="title!=null">
	title=#{title},
	</if>
	<if test="subtitle!=null">
	subtitle=#{subtitle},
	</if>
	<if test="userId!=null">
	user_id=#{userId},
	</if>
	<if test="pics!=null">
	pics=#{pics},
	</if>
	<if test="pic02!=null">
	pic02=#{pic02},
	</if>
	<if test="pic03!=null">
	pic03=#{pic03},
	</if>
	<if test="pic04!=null">
	pic04=#{pic04},
	</if>
	<if test="intro!=null">
	intro=#{intro}
	</if>
	</set>
	where 
		id=#{id}
	</update>
	
	<delete id="destory">
	delete from hts.operations_channel_topic_module
	where 
		id=#{id}
	</delete>
	
	<delete id="destoryByTopicId">
	delete from hts.operations_channel_topic_module
	where 
		topic_id=#{topicId}
	</delete>
	
	<update id="reOrderIndex">
	update hts.operations_channel_topic_module
	<set>
	<if test="orderIndex!=null">
	order_index=#{orderIndex}
	</if>
	</set>
	where 
		id=#{id}
	</update>
</mapper>