<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.trade.item.mapper.ItemSetMapper">

	<resultMap id="ItemSetMap" type="com.imzhitu.admin.trade.item.pojo.ItemSet">
		<id column="id" property="id" javaType="java.lang.Integer"/>
		<result column="description" property="description" javaType="java.lang.String"/>
		<result column="path" property="path" javaType="java.lang.String"/>
		<result column="thumb" property="thumb" javaType="java.lang.String"/>
		<result column="type" property="type" javaType="java.lang.Integer"/>
		<result column="link" property="link" javaType="java.lang.String"/>
		<result column="operator" property="operator" javaType="java.lang.Integer"/>
		<result column="serial" property="serial" javaType="java.lang.Integer"/>
		<result column="create_time" property="createTime" javaType="java.util.Date"/>
		<result column="modify_time" property="modifyTime" javaType="java.util.Date"/>
	</resultMap>
	
	<!-- 新增商品集合 -->
	<insert id="insert">
	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
		insert into 
			hts.item_set 
			(description, path, thumb, type, operator, serial)
	 	values 
	 		(#{description}, #{path}, #{thumb}, #{type}, #{operator}, #{serial})
	</insert>
	
	<!-- 根据id更新商品集合 -->
	<update id="update">
		update 
			hts.item_set 
		<set>
	      <if test="description != null">description = #{description},</if>
	      <if test="path != null">path = #{path},</if>
	      <if test="thumb != null">thumb = #{thumb},</if>
	      <if test="type != null">type = #{type},</if>
	      <if test="link != null">link = #{link},</if>
	      <if test="operator != null">operator = #{operator}</if>
	    </set>
	  	where 
	  		id = #{id}
	</update>
	
	<!-- 更新序号 -->
	<update id="updateSerial">
		update 
			hts.item_set 
		set
			serial = #{serial}
	  	where 
	  		id = #{id}
	</update>
	
	<!-- 根据id删除商品集合 -->
	<delete id="deleteById">
		delete from hts.item_set where id = #{id}
	</delete>
	
	<!-- 分页查询商品集合 -->
	<select id="queryItemSetList" resultMap="ItemSetMap">
		select 
			*
		from 
			hts.item_set 
		order by serial desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<!-- 查询商品集合总数 -->
	<select id="queryItemSetTotal" resultType="java.lang.Integer">
		select 
			count(*)
		from 
			hts.item_set 
	</select>
	
	<!-- 根据id，获取商品集合对象 -->
	<select id="getItemSetById" resultMap="ItemSetMap">
		select 
			*
		from 
			hts.item_set 
		where
			id = #{id}
	</select>
	
	<!-- 分页查询商品集合列表，并且结果集不包含ids -->
	<select id="queryItemSetListNotInIds" resultMap="ItemSetMap">
		select 
			*
		from 
			hts.item_set 
		where
			id not in
			<foreach collection="ids" open="(" close=")" separator="," index="index" item="item">
				#{item}
			</foreach>
		order by serial desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
</mapper>