<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.trade.item.mapper.ItemSeckillMapper">

	<!-- 新增秒杀商品 -->
	<insert id="insert">
		insert into 
			hts.item_seckill 
			(item_id, deadline)
	 	values 
	 		(#{id}, #{deadline})
	</insert>
	
	<!-- 根据商品id集合删除 -->
	<delete id="deleteByIds">
		delete from hts.item_seckill where id in
		<foreach item="item" index="index" collection="ids"
	    	open="(" separator="," close=")">
	       		#{item}
	 	</foreach>
	</delete>
	
</mapper>