<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.trade.item.mapper.ItemMapper">

	<resultMap id="ItemMap" type="com.imzhitu.admin.trade.item.pojo.Item">
		<id column="id" property="id" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
		<result column="summary" property="summary" javaType="java.lang.String"/>
		<result column="description" property="description" javaType="java.lang.String"/>
		<result column="world_id" property="worldId" javaType="java.lang.Integer"/>
		<result column="img_path" property="imgPath" javaType="java.lang.String"/>
		<result column="img_thumb" property="imgThumb" javaType="java.lang.String"/>
		<result column="price" property="price" javaType="java.math.BigDecimal"/>
		<result column="sale" property="sale" javaType="java.math.BigDecimal"/>
		<result column="sales" property="sales" javaType="java.lang.Integer"/>
		<result column="stock" property="stock" javaType="java.lang.Integer"/>
		<result column="taobao_id" property="taobaoId" javaType="java.lang.Long"/>
		<result column="taobao_type" property="taobaoType" javaType="java.lang.Integer"/>
		<result column="category_id" property="categoryId" javaType="java.lang.Integer"/>
		<result column="brand_id" property="brandId" javaType="java.lang.Integer"/>
		<result column="like_num" property="likeNum" javaType="java.lang.Integer"/>
		<result column="link" property="link" javaType="java.lang.String"/>
	</resultMap>
	
	<insert id="saveItem">
		insert into 
			hts.item 
			(id, name, summary, description, world_id, img_path, img_thumb, price, sale,
			 sales, stock, taobao_id, taobao_type, category_id, brand_id, like_num,link)
	 	values 
	 		(#{id}, #{name}, #{summary}, #{description}, #{worldId}, #{imgPath}, 
	 		#{imgThumb}, #{price}, #{sale}, #{sales}, #{stock}, #{taobaoId}, #{taobaoType}, 
	 		#{categoryId}, #{brandId}, #{likeNum},#{link})
	</insert>
	
	<update id="updateItem">
		update 
			hts.item 
		<set>
	      <if test="name != null">name = #{name},</if>
	      <if test="summary != null">summary = #{summary},</if>
	      <if test="description != null">description = #{description},</if>
	      <if test="worldId != null">world_id = #{worldId},</if>
	      <if test="imgPath != null">img_path = #{imgPath},</if>
	      <if test="imgThumb != null">img_thumb = #{imgThumb},</if>
	      <if test="price != null">price = #{price},</if>
	      <if test="sale != null">sale = #{sale},</if>
	      <if test="sales != null">sales = #{sales},</if>
	      <if test="stock != null">stock = #{stock},</if>
	      <if test="taobaoId != null">taobao_id = #{taobaoId},</if>
	      <if test="taobaoType != null">taobao_type = #{taobaoType},</if>
	      <if test="categoryId != null">category_id = #{categoryId},</if>
	      <if test="brandId != null">brand_id = #{brandId},</if>
	      <if test="likeNum != null">like_num = #{likeNum},</if>
	       <if test="link != null">link = #{link},</if>
	    </set>
	  	where 
	  		id = #{id}
	</update>

	<delete id="deleteById">
		delete from hts.item where id = #{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from hts.item where id in 
		<foreach item="item" index="index" collection="ids"
	    	open="(" separator="," close=")">
	       		#{item}
	 	</foreach>
	</delete>
	
	<select id="queryItemList" resultMap="ItemMap">
		select 
			* 
		from 
			hts.item
		<where>
			<if test="name != null">
				name like CONCAT('%',#{name},'%')
			</if>
			<if test="itemSetId != null">
			and id not in (
					select 
						item_id
					from 
						hts.item_set_r
					where 
						item_set_id = #{itemSetId}		
				)
			</if>
		</where>
		order by id desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<select id="queryItemTotal" resultType="long">
		select 
			count(*)
		from 
			hts.item
		<where>
			<if test="name != null">
				name like CONCAT('%',#{name},'%')
			</if>
			<if test="itemSetId != null">
				and id not in (
					select 
						item_id
					from 
						hts.item_set_r
					where 
						item_set_id = #{itemSetId}		
				)
			</if>
		</where>
	</select>
	
	<select id="queryItemById" resultMap="ItemMap">
		select * from hts.item where id=#{id}
	</select>

</mapper>