<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.userinfo.mapper.UserAndLevelRelationMapper">

	<resultMap id="UserLevelMap" type="com.imzhitu.admin.common.pojo.UserLevelDto">
		<id column="id" property="id" javaType="java.lang.Integer" />
		<result column="min_fans_count" property="min_fans_count" javaType="java.lang.Integer" />
		<result column="max_fans_count" property="max_fans_count" javaType="java.lang.Integer" />
		<result column="min_liked_count" property="min_liked_count" javaType="java.lang.Integer" />
		<result column="max_liked_count" property="max_liked_count" javaType="java.lang.Integer" />
		<result column="min_comment_count" property="min_comment_count" javaType="java.lang.Integer" />
		<result column="max_comment_count" property="max_comment_count" javaType="java.lang.Integer" />
		<result column="min_play_times" property="min_play_times" javaType="java.lang.Integer" />
		<result column="max_play_times" property="max_play_times" javaType="java.lang.Integer" />
		<result column="time" property="time" javaType="java.lang.Integer" />
		<result column="level_description" property="level_description" javaType="java.lang.String" />
		<result column="weight" property="weight" javaType="java.lang.Integer" />
	</resultMap>

	<!-- 查询用户总数 -->
	<select id="getUserLevel" resultMap="UserLevelMap">
		select 
			iul.* 
		from 
			hts_admin.interact_user_level iul,
			hts_admin.interact_user_level_list iull
		where 
			iull.user_id = #{uid} 
			and iull.user_level_id = iul.id
	</select>
	
</mapper>