body {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: url("../../base/images/common_bg.png");
}

#wrapper {
	margin: 100px auto 0 auto;
	width: 611px;
	height: 447px;
	background: url("../../base/images/bg_notice.png");
}

#tip {
	display: inline-block;
	margin: 190px 0 0 280px;
	letter-spacing: 2px;
	text-align: left;
}

#tip .tip_title {
	display: inline-block;
	color: #b09c83;
	font-size: 28px;
	margin-bottom: 16px;
}

.tip_link,.tip_text {
	color: #8b8378;
	font-size: 18px;
}

.tip_link a {
	color: #8b8378;
}