<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.addr.mapper.CityMapper">

	<resultMap id="CityMap" type="com.imzhitu.admin.addr.pojo.City">
		<id column="id" property="id" javaType="java.lang.Integer"/>
		<result column="province_id" property="provinceId" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
		<result column="short_name" property="shortName" javaType="java.lang.String"/>
		<result column="longitude" property="longitude" javaType="java.lang.Double"/>
		<result column="latitude" property="latitude" javaType="java.lang.Double"/>
		<result column="radius" property="radius" javaType="java.lang.Float"/>
	</resultMap>
	
	<resultMap id="WebCityMap" type="com.hts.web.common.pojo.AddrCity">
		<id column="id" property="id" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
		<result column="short_name" property="shortName" javaType="java.lang.String"/>
		<result column="longitude" property="longitude" javaType="java.lang.Double"/>
		<result column="latitude" property="latitude" javaType="java.lang.Double"/>
		<result column="radius" property="radius" javaType="java.lang.Float"/>
	</resultMap>

	<!-- 查询所有城市 -->
	<select id="queryAllCity" resultMap="CityMap">
		select 
			id,name,short_name,longitude,latitude,radius
		from 
			hts.addr_city
	</select>
	
	<select id="getCityId" resultType="INTEGER">
	select
		id
	from
		hts.addr_city
	where
		<if test="cityName!=null">
			name like CONCAT('%',#{cityName},'%')
		</if>
	</select>
	
	<select id="queryAllCityCache" resultMap="WebCityMap">
		select 
			id,name,short_name,longitude,latitude,radius
		from 
			hts.addr_city
	</select>
	
	<select id="queryCityById" resultMap="CityMap">
		select 
			id,province_id,name,short_name,longitude,latitude,radius
		from 
			hts.addr_city
		where 
			id=#{id}
	</select>
	
	
	<select id="queryCity" resultMap="CityMap">
		select id,province_id,name,short_name,longitude,latitude,radius
		from hts.addr_city
		<where>
			<if test="provinceId != null">
				province_id = #{provinceId}
			</if>
			<if test="name != null">
				and name like #{name}
			</if>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[ and id <= #{maxId}]]>
			</if>
		</where>
		order by id desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause" />
	</select>
	
	<select id="queryCityCount" resultType="long">
		select count(*) from hts.addr_city
		<where>
			<if test="provinceId != null">
				province_id = #{provinceId}
			</if>
			<if test="name != null">
				and name like #{name}
			</if>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[ and id <= #{maxId}]]>
			</if>
		</where>
	</select>
	
</mapper>