<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.addr.mapper.DistrictMapper">

	<resultMap id="DistrictMap" type="com.imzhitu.admin.addr.pojo.District">
		<id column="id" property="id" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
	</resultMap>

	<!-- 查询所有区域 -->
	<select id="queryAllDistrict" resultMap="DistrictMap">
		select 
			id,name 
		from 
			hts.addr_district
	</select>
	
</mapper>