<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imzhitu.admin.common.mapper.NumberMapper">
  	<sql id="Pagination_Clause" >
  		<if test="firstRow != null and limit != null">
			<![CDATA[ limit #{firstRow}, #{limit}]]>
		</if>
  	</sql>
</mapper>
  
