<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.channel.mapper.ChannelWorldInteractSchedulerMapper">

	<resultMap id="ChannelWorldInteractSchedulerMap" type="com.imzhitu.admin.common.pojo.ChannelWorldInteractScheduler">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="channel_id" property="channelId" jdbcType="INTEGER"/>
		<result column="world_id" property="worldId" jdbcType="INTEGER"/>
		<result column="schedule_date" property="scheduleDate" jdbcType="TIMESTAMP" />
		<result column="operator" property="operator" jdbcType="INTEGER"/>
		<result column="complete" property="complete" jdbcType="INTEGER"/>
		<result column="valid" property="valid" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- 插入数据到频道织图生效规划互动表中 -->
	<insert id="insert">
		insert into 
			hts_admin.interact_channel_world_scheduler (channel_id, world_id, operator)
	 	values (#{channelId}, #{worldId}, #{operator})
	</insert>
	
	<!-- 更新频道织图生效规划互动表中数据 -->
	<update id="update">
		update 
			hts_admin.interact_channel_world_scheduler 
		set 
			complete=#{complete}
		where 
			channel_id=#{channelId} 
			and world_id=#{worldId}
	</update>

	<!-- 根据id设置频道织图规划对象生效 -->
	<update id="setValidAndScheduleDateById">
		update 
			hts_admin.interact_channel_world_scheduler 
		set 
			valid = 1, 
			schedule_date = #{scheduleDate}
		where 
			id = #{id} 
	</update>
	
	<!-- 根据频道id与织图id，查询频道织图生效规划互动表未完成的数据 -->
	<select id="queryChannelWorldInteractSchedulerNotCompleteList" resultMap="ChannelWorldInteractSchedulerMap">
		select * 
		from 
			hts_admin.interact_channel_world_scheduler 
		where 
			channel_id=#{channelId} 
			and world_id=#{worldId}
			and complete=0
	</select>
	
	<!-- 根据时间段查询频道织图生效规划互动表数据 -->
	<select id="queryChannelWorldInteractSchedulerListByTime" resultMap="ChannelWorldInteractSchedulerMap">
		select * 
		from 
			hts_admin.interact_channel_world_scheduler 
		where 
			schedule_date between #{beginTime} and #{endTime}
			and complete = 0
			and valid = 1
	</select>
	
</mapper>