<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="interactAutoResponseService" class="com.imzhitu.admin.interact.service.impl.InteractAutoResponseServiceImpl" />
	<bean id="interactWorldService" class="com.imzhitu.admin.interact.service.impl.InteractWorldServiceImpl" />
	<bean id="interactUserlevelListService" class="com.imzhitu.admin.interact.service.impl.InteractUserlevelListServiceImpl" />
	<bean id="worldService" class="com.imzhitu.admin.ztworld.service.impl.ZTWorldServiceImpl" />
	<bean id="worldTypeService" class="com.imzhitu.admin.ztworld.service.impl.ZTWorldTypeServiceImpl" />
	<bean id="channelService" class="com.imzhitu.admin.op.service.impl.ChannelServiceImpl"/>
	<bean id="channelWorldSchedulaService" class="com.imzhitu.admin.op.service.impl.OpChannelWorldSchedulaServiceImpl"/>
	<bean id="interactTypeOptionWorldService" class="com.imzhitu.admin.interact.service.impl.InteractTypeOptionWorldServiceImpl"/>
	<bean id="interactAutoResponseSchedulaService" class="com.imzhitu.admin.interact.service.impl.InteractAutoResponseSchedulaServiceImpl"/>
	<bean id="osPushService" class="com.imzhitu.admin.aliyun.service.impl.OsPushServiceImpl" />
	<bean id="platService" class="com.imzhitu.admin.plat.service.impl.PlatServiceImpl" />
	<bean id="opStarRecommendSchedulaService" class="com.imzhitu.admin.op.service.impl.OpStarRecommendSchedulaServiceImpl" />
	<bean id="opStarRecommendCacheService" class="com.imzhitu.admin.op.service.impl.OpStarRecommendCacheServiceImpl" />
	<bean id="interactZombieWorldSchedulaService" class="com.imzhitu.admin.interact.service.impl.InteractZombieWorldSchedulaServiceImpl"/>
	<bean id="dailyDataStatisticsService" class="com.imzhitu.admin.statistics.service.impl.DailyDataStatisticsServiceImpl"/>
	<bean id="opUserRecommendCacheService" class="com.imzhitu.admin.op.service.impl.OpUserRecommendCacheServiceImpl"/>

		
	<!-- 互动播放定时任务 -->
    <bean id="interactClickJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="interactWorldService"/>
        </property>
        <property name="targetMethod">
            <value>commitClick</value>
        </property>
        <property name="concurrent"> 
			<value>true</value>
		</property> 
    </bean>

	<!-- 互动播放定时任务周期 -->
    <bean id="interactClickJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="interactClickJobDetail" />
        </property>
        <property name="cronExpression">
        	<!-- <value>*/5 * 0,9-23 * * ?</value> -->
            <value>0 0/2 * * * ?</value><!-- 每隔5分钟 -->
        </property>
    </bean>
		
	<!-- 互动评论定时任务 -->
    <bean id="interactCommentJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="interactWorldService" />
        </property>
        <property name="targetMethod">
            <value>commitComment</value>
        </property>
        <property name="concurrent"> 
			<value>true</value>
		</property> 
    </bean>
	
	<!-- 互动评论定时任务周期 -->
    <bean id="interactCommentJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="interactCommentJobDetail" />
        </property>
        <property name="cronExpression">
            <!--<value>*/5 * 0,9-23 * * ?</value>--> 
            <value>0 0/2 * * * ?</value><!-- 每隔5分钟 -->
        </property>
    </bean>
    
    <!-- 互动喜欢定时任务 -->
    <bean id="interactLikedJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="interactWorldService" />
        </property>
        <property name="targetMethod">
            <value>commitLiked</value>
        </property>
        <property name="concurrent"> 
			<value>true</value>
		</property> 
    </bean>

	<!-- 互动喜欢定时任务周期 -->
    <bean id="interactLikedJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="interactLikedJobDetail" />
        </property>
        <property name="cronExpression">
            <!-- <value>*/5 * 0,9-23 * * ?</value> -->
            <value>0 0/2 * * * ?</value><!-- 9点到12点每隔5分钟 -->
        </property>
    </bean>
    
    <!-- 互动粉丝定时任务 -->
    <bean id="interactFollowJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="interactWorldService" />
        </property>
        <property name="targetMethod">
            <value>commitFollow</value>
        </property>
        <property name="concurrent"> 
			<value>true</value>
		</property> 
    </bean>

	<!-- 互动粉丝定时任务周期-->
    <bean id="interactFollowJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="interactFollowJobDetail" />
        </property>
        <property name="cronExpression">
            <!-- <value>*/5 * 0,9-23 * * ?</value> -->
            <value>0 0/2 * * * ?</value><!-- 9点到12点每隔10分钟 -->
        </property>
    </bean>
    
    
    <!-- 互动跟踪定时任务 -->
    <!-- 
    <bean id="trackInteractJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="interactWorldService" />
        </property>
        <property name="targetMethod">
            <value>trackInteract</value>
        </property>
        <property name="concurrent"> 
			<value>true</value>
		</property> 
    </bean> -->

	<!-- 互动跟踪定时任务周期 -->
	<!--
    <bean id="trackInteractJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="trackInteractJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/20 * * * ?</value>
        </property>
    </bean> 
    -->
    
    <!-- 更新未完成互动定时任务 -->
    <!-- 
    <bean id="updateInteractScheduleJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="interactWorldService" />
        </property>
        <property name="targetMethod">
            <value>updateUnFinishedInteractSchedule</value>
        </property>
        <property name="concurrent"> 
			<value>false</value>
		</property> 
    </bean>
    
    <bean id="updateInteractScheduleJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="updateInteractScheduleJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0 2 * * ?</value>
        </property>
    </bean>
     -->
    
     <!-- 删除最新织图多余缓存定时任务 -->
    <bean id="deleteOverFlowLatestCacheScheduleJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="worldService" />
        </property>
        <property name="targetMethod">
            <value>deleteOverFlowLatestCache</value>
        </property>
        <property name="concurrent"> 
			<value>false</value>
		</property> 
    </bean>
    
    <bean id="deleteOverFlowLatestCacheScheduleJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="deleteOverFlowLatestCacheScheduleJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0 0/1 * * ?</value><!-- 8点到24点每隔一个钟 -->
        </property>
    </bean>
    
      <!-- 每两小时扫描最近两小时发布的织图，并根据用户等级设置互动 -->
    <bean id="ScanNewWorldAndJoinIntoInteractDetail" 
    	class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    	<property name="targetObject">
    		<ref bean="interactUserlevelListService"/>
    	</property>
    	<property name="targetMethod">
    		<value>ScanNewWorldAndJoinIntoInteract</value>
    	</property>
    </bean>
    
    <!-- 根据用户等级，自动互动定时任务周期 :每半时扫描最近两小时发布的织图，并根据用户等级设置互动-->
    <bean id="interactByUserLevelJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<property name="jobDetail">
    		<ref bean="ScanNewWorldAndJoinIntoInteractDetail"/>
    	</property>
    	<property name="cronExpression">
    		<value>0 0/5 * * * ?</value><!-- 每半时 -->
    	</property>
    </bean>
    
    <!-- 每10分钟扫描分类织图计划更新表，并执行符合条件的计划 -->
  	<bean id="performTypeWorldSchedula" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  		<property name="targetObject">
  			<ref bean="worldTypeService" />
  		</property>
  		<property name="targetMethod">
  			<value>performTypeWorldSchedula</value>
  		</property>
  	</bean>
  	<!-- 定时更新织图分类排列顺序任务 -->
  	<bean id="updateTypeWorldSchedulaTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
  		<property name="jobDetail">
  			<ref bean="performTypeWorldSchedula"/>
  		</property>
  		<property name="cronExpression">
  			<value>0 0/5 * * * ?</value><!-- 10分钟 -->
  		</property>
  	</bean>

	<!-- 扫描马甲对应的需要回复的回复，并获取回复 -->
	<bean id="scanResponseAndGetAnswer" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="interactAutoResponseService"/>
		</property>
		<property name="targetMethod">
			<value>scanResponseAndGetAnswer</value>
		</property>
	</bean>
	<!-- 定时扫描马甲及需要回复的回复 -->
	<bean id="scanResponseAndGetAnswerTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="scanResponseAndGetAnswer"/>
		</property>
		<property name="cronExpression">
  			<value>0 0/15 * * * ?</value><!-- 每15分钟 -->
  		</property>
	</bean>
	
	<!-- 频道top one定时更新任务 -->
	<bean id="updateTopOneJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="channelService"/>
		</property>
		<property name="targetMethod">
			<value>updateTopOne</value>
		</property>
	</bean>
	<bean id="updateTopOneTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="updateTopOneJob"/>
		</property>
		<property name="cronExpression">
  			<value>13 12 4 * * ?</value><!-- 每三天的凌晨4:12:13执行 -->
  		</property>
	</bean>
	
	
	<!-- 频道织图定时更新 -->
	<bean id="updateChannelWorldSchedulaJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="channelWorldSchedulaService"/>
		</property>
		<property name="targetMethod">
			<value>channelWorldSchedula</value>
		</property>
	</bean>
	<bean id="updateChannelWorldSchedulaTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="updateChannelWorldSchedulaJob"/>
		</property>
		<property name="cronExpression">
  			<value>0 0/5 * * * ?</value><!-- 每半个钟执行 -->
  		</property>
	</bean>
	
	<!-- 自动添加明星所发的织图到广场备选列表 -->
	<bean id="autoAddStarWorldJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="interactTypeOptionWorldService"/>
		</property>
		<property name="targetMethod">
			<value>autoAddStarWorld</value>
		</property>
	</bean>
	
	<bean id="autoAddStarWorldTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="autoAddStarWorldJob"/>
		</property>
		<property name="cronExpression">
  			<value>0 0/30 * * * ?</value><!-- 每半个钟执行 -->
  		</property>
	</bean>
	
	<!-- 自动回复评论计划 -->
	<bean id="autoResponseSchedulaJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="interactAutoResponseSchedulaService"/>
		</property>
		<property name="targetMethod">
			<value>doAutoResponseSchedulaJob</value>
		</property>
	</bean>
	
	<bean id="autoResponseSchedulaTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="autoResponseSchedulaJob"/>
		</property>
		<property name="cronExpression">
  			<value>0 0/10 * * * ?</value><!-- 每10分钟执行 -->
  		</property>
	</bean>
	
	<!-- 达人推荐置顶计划 -->
	<bean id="starRecommendSchedulaJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="opStarRecommendSchedulaService"/>
		</property>
		<property name="targetMethod">
			<value>doStarRecommendSchedula</value>
		</property>
	</bean>
	
	<bean id="starRecommendSchedulaTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="starRecommendSchedulaJob"/>
		</property>
		<property name="cronExpression">
  			<value>0 0/10 * * * ?</value><!-- 每10分钟执行 -->
  		</property>
	</bean>
	
	<!-- 达人推荐缓存更新计划 -->
	<bean id="starRecommendCacheJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="opStarRecommendCacheService"/>
		</property>
		<property name="targetMethod">
			<value>doUpdateStarRecommendCacheSchedula</value>
		</property>
	</bean>
	
	<bean id="starRecommendCacheTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="starRecommendCacheJob"/>
		</property>
		<property name="cronExpression">
  			<value>0 0 0/2 * * ?</value><!-- 每120分钟执行 -->
  		</property>
	</bean>
	
	
	<!-- 用户推荐缓存更新计划 -->
	<bean id="userRecommendCacheJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="opUserRecommendCacheService"/>
		</property>
		<property name="targetMethod">
			<value>doUpdateUserRecommendCacheJob</value>
		</property>
	</bean>
	
	<bean id="userRecommendCacheTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="userRecommendCacheJob"/>
		</property>
		<property name="cronExpression">
  			<value>0 0/10 * * * ?</value><!-- 每10分钟执行 -->
  		</property>
	</bean>
	
	<!-- opensearch修改提交任务 -->
    <bean id="osPushJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="osPushService"/>
        </property>
        <property name="targetMethod">
            <value>pushUpdate</value>
        </property>
        <property name="concurrent"> 
			<value>false</value>
		</property> 
    </bean>

	<!-- opensearch修改提交定时任务周期 -->
    <bean id="osPushJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="osPushJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/1 * * * ?</value><!-- 每隔1分钟 -->
        </property>
    </bean>
    
    <!-- 社交平台关注提交任务 -->
    <bean id="platConcernJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="platService"/>
        </property>
        <property name="targetMethod">
            <value>pushConcern</value>
        </property>
        <property name="concurrent"> 
			<value>false</value>
		</property> 
    </bean>

	<!-- opensearch修改提交定时任务周期 -->
    <bean id="platConcernJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="platConcernJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/1 * * * ?</value><!-- 每隔2分钟 -->
        </property>
    </bean>
    
     <!-- 马甲计划发图 -->
    <bean id="zombieWorldSchedulaJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="interactZombieWorldSchedulaService"/>
        </property>
        <property name="targetMethod">
            <value>doZombieWorldSchedulaJob</value>
        </property>
    </bean>

	<!-- 马甲计划发图 -->
    <bean id="zombieWorldSchedulaJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="zombieWorldSchedulaJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/5 * * * ?</value><!-- 每隔5分钟 -->
        </property>
    </bean>
    
	<!-- 每日00点获取前一日数据的统计，数据包括：频道新增织图数、频道新增订阅数、频道新增评论数、频道新增点赞数 -->
    <bean id="dailyDataStatisticsSchedulaJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="dailyDataStatisticsService"/>
        </property>
        <property name="targetMethod">
            <value>doDataStatisticsSchedulaJob</value>
        </property>
    </bean>
    
	<!-- 每日数据统计Job配置 -->
    <bean id="dailyDataStatisticsSchedulaJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="dailyDataStatisticsSchedulaJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 01 00 * * ?</value><!-- 每日00点01分触发，统计前一日相关数据 -->
        </property>
    </bean>
    
	<!-- 频道红人计划排序Job配置 用于定时执行查询频道红人在计划时间触发生效 -->
    <bean id="sortChannelStarSchedulaJobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
        	<!-- 这个是取在类上的bean名字，个人习惯使用类路径全名 by zhangbo 2015-08-21 -->
            <ref bean="com.imzhitu.admin.op.service.impl.OpChannelMemberServiceImpl"/>
        </property>
        <property name="targetMethod">
            <value>doSortChannelStarSchedula</value>
        </property>
    </bean>
    
	<!-- 频道红人计划排序Trigger配置 -->
    <bean id="sortChannelStarSchedulaJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="sortChannelStarSchedulaJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/20 * * * ?</value><!-- 每隔20分钟 -->
        </property>
    </bean>
	
	<!--  
    <bean name="startQuertz" lazy-init="false"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>  
                <ref bean="interactCommentJobTrigger" />
                <ref bean="interactClickJobTrigger"/>
                <ref bean="interactLikedJobTrigger" />
                <ref bean="interactFollowJobTrigger" />
                <ref bean="deleteOverFlowLatestCacheScheduleJobTrigger" />
                <ref bean="interactByUserLevelJobTrigger" />
                <ref bean="updateTypeWorldSchedulaTrigger" /> 
                <ref bean="scanResponseAndGetAnswerTrigger" />
                <ref bean="updateTopOneTrigger"/>
                <ref bean="updateChannelWorldSchedulaTrigger"/>
                <ref bean="autoAddStarWorldTrigger"/>
                <ref bean="autoResponseSchedulaTrigger"/>
                <ref bean="osPushJobTrigger" />
                <ref bean="platConcernJobTrigger" />
                <ref bean="starRecommendSchedulaTrigger" />
                <ref bean="starRecommendCacheTrigger" />
                <ref bean="zombieWorldSchedulaJobTrigger" />
                <ref bean="dailyDataStatisticsSchedulaJobTrigger" />
                <ref bean="userRecommendCacheTrigger" />
                <ref bean="sortChannelStarSchedulaJobTrigger" />
            </list>
        </property>
    </bean>
    -->
    
</beans>