<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
       	http://www.springframework.org/schema/aop   
       	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       	http://www.springframework.org/schema/data/mongo 
	   	http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
		
	<context:property-placeholder location="classpath:admin.properties" /> 
	
	<context:component-scan base-package="com.imzhitu,com.hts.web" />

    <context:annotation-config />
    
    <bean id="masterDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="${database.master.jdbcUrl}"></property>
		<property name="user" value="${database.master.user}" />
		<property name="password" value="${database.master.password}" />
		<property name="maxPoolSize" value="${database.master.maxPoolSize}"></property>  
	    <property name="minPoolSize" value="${database.master.minPoolSize}"></property>
	    <property name="maxIdleTime" value="${database.master.maxIdleTime}"></property>
	    <property name="idleConnectionTestPeriod" value="${database.master.idleConnectionTestPeriod}"></property>
	</bean>
	
	<bean id="slaveDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="${database.slave.jdbcUrl}"></property>
		<property name="user" value="${database.slave.user}" />
		<property name="password" value="${database.slave.password}" />
		<property name="maxPoolSize" value="${database.slave.maxPoolSize}"></property>  
	    <property name="minPoolSize" value="${database.slave.minPoolSize}"></property>
	    <property name="maxIdleTime" value="${database.slave.maxIdleTime}"></property>
	    <property name="idleConnectionTestPeriod" value="${database.slave.idleConnectionTestPeriod}"></property>
	</bean>
	
	<bean id="dataSource" class="com.imzhitu.admin.common.dataSourceMasterSlave.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="master" value-ref="masterDataSource"/>
				<entry key="slave" value-ref="slaveDataSource"/>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="masterDataSource"/>
	</bean>
	<!-- 配置数据库注解aop -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="manyDataSourceAspect" class="com.imzhitu.admin.common.dataSourceMasterSlave.DataSourceAspect"/>
	<aop:config>
		<aop:aspect id="dataSourceCut" ref="manyDataSourceAspect">
			<aop:pointcut expression="execution(* com.imzhitu.admin..*.mapper.*.*(..))" id="dataSourceCutPoint"/>
			<aop:before pointcut-ref="dataSourceCutPoint" method="before"/>
		</aop:aspect>
	</aop:config>
	
	<!-- 
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	 -->
	
	<!-- 
   	<bean id="webSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" autowire="byName">
    	<property name="configLocation" value="classpath:mybatis-config-web.xml" />
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="webMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 
  		<property name="basePackage" value="com.hts.web.**.mapper" /> 
  		<property name="sqlSessionFactoryBeanName" value="webSqlSessionFactory" /> 
  	</bean>
  	 -->
	
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" autowire="byName">
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <!-- 
        <property name="dataSource" ref="masterDataSource" /> -->
         <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.imzhitu.admin.**.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> 
    </bean>
	
	
	<bean id="masterJdbcTemplate" class="com.hts.web.base.database.ZTJdbcTemplate">
		<constructor-arg ref="masterDataSource" />
	</bean>
	
	<bean id="jdbcTemplate" class="com.hts.web.base.database.ZTJdbcTemplate">
		<constructor-arg ref="slaveDataSource" />
	</bean>
	
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxActive}"/>
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
    </bean>
	
	<bean id="jedisConnFactory" 
	    class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" 
	    p:host-name="${redis.ip}" 
	    p:port="${redis.port}"
	    p:password="${redis.password}"
	    p:use-pool="true"
	    p:poolConfig-ref="jedisPoolConfig" />
	
	<bean id="redisTemplate" 
	    class="org.springframework.data.redis.core.RedisTemplate" 
	    p:connection-factory-ref="jedisConnFactory">
		<property name="keySerializer">  
        	<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"></bean>  
	    </property>  
	</bean>
	
	<bean id="redisKeyTemplate"
		class="org.springframework.data.redis.core.StringRedisTemplate" 
	    p:connection-factory-ref="jedisConnFactory" >
	</bean>
	
	<mongo:mongo host="${mongo.host}" port="${mongo.port}">
		<mongo:options 
			connections-per-host="8"
			threads-allowed-to-block-for-connection-multiplier="4"
			connect-timeout="1000" 
			max-wait-time="1500" 
			auto-connect-retry="true"
			socket-keep-alive="true" 
			socket-timeout="1500" 
			slave-ok="true"
			write-number="1" 
			write-timeout="0" 
			write-fsync="true" />
	</mongo:mongo>

	<mongo:db-factory id="mongoDbFactory" dbname="${mongo.db}" 
		username="${mongo.user}" password="${mongo.password}" mongo-ref="mongo" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	
    <import resource="spring-config-web.xml" />
    <import resource="spring-config-interact.xml"/>
    <!-- 
    <import resource="spring-config-daemon.xml"/>
     -->
    
</beans>