<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.op.mapper.ChannelUserMapper">

	<resultMap type="com.imzhitu.admin.common.pojo.OpChannelUserDto" id="ChannelUser">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="userId" column="user_id" jdbcType="INTEGER"/>
		<result property="userName" column="userName" jdbcType="VARCHAR" />
		<result property="channelId" column="channel_id" jdbcType="INTEGER"/>
		<result property="channelName" column="channelName" jdbcType="VARCHAR"/>
		<result property="valid" column="valid" jdbcType="INTEGER"/>
		<result property="operatorId" column="operator_id" jdbcType="INTEGER"/>
		<result property="operatorName" column="operatorName" jdbcType="VARCHAR"/>
		<result property="addDate" column="date_add" jdbcType="TIMESTAMP"/>
		<result property="modifyDate" column="date_modify" jdbcType="TIMESTAMP"/>
		<result property="registerDate" column="register_date" jdbcType="TIMESTAMP"/>
		<result property="lastWorldDate" column="lastWorldDate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<!-- 查询用户平均几天上精选*3 对应的分数 -->
	<select id="querySuperbScore" resultType="int">
		SELECT DATEDIFF(
					NOW(),
					STR_TO_DATE("2014-10-1", "%Y-%m-%d")
				)*3 /count(*)
		FROM
			hts.htworld_type_world htw
		LEFT JOIN hts.htworld_htworld hh ON htw.world_id = hh.id
		WHERE htw.valid = 1
			and htw.superb = 1
			and hh.author_id = #{userId}
	</select>
	
	<!-- 平均几天上频道*3 对应的分数 -->
	<select id="queryChannelScore" resultType="int">
		SELECT
			DATEDIFF(
					NOW(),
					STR_TO_DATE("2014-10-1", "%Y-%m-%d")
				)*3 / COUNT(*)
		FROM
			hts.operations_channel_world ocw
		WHERE
			ocw.valid=1
			and ocw.author_id=#{userId}
	</select>
	
	<!-- 注册多少个周/2 -->
	<select id="queryRegisterScore" resultType="int">
		SELECT IF (
				 <![CDATA[	DATEDIFF(NOW(), ui.register_date) < 7,]]>
				10,
				CEIL(
					DATEDIFF(NOW(), ui.register_date) / 14
				)
			)
		FROM 
			hts.user_info ui 
		WHERE
			ui.id = #{userId}
	</select>
	
	<!-- 最近发图时间*2 -->
	<select id="queryLastWorldScore" resultType="int">
		SELECT DATEDIFF(NOW(), MAX(hh.date_modified))*2
		FROM
				hts.htworld_htworld hh
		WHERE 
				hh.author_id = #{userId}
	</select>
	
	<!-- 查找频道红人 -->
	<select id="queryChannelUserRankTopN" resultType="Integer">
		SELECT
			mc.user_id
		FROM
			hts_admin.op_channel_user mc
		LEFT JOIN (
			SELECT
				mcu.user_id,
				COUNT(htw.id) AS superbWorldCount
			FROM
				hts.htworld_type_world htw
			LEFT JOIN hts.htworld_htworld hh ON htw.world_id = hh.id
			LEFT JOIN hts_admin.op_channel_user mcu ON hh.author_id = mcu.user_id
			WHERE
				mcu.user_id IS NOT NULL
			AND mcu.channel_id = #{channelId}
			AND mcu.valid = 1
			AND htw.valid = 1
			AND htw.superb = 1
			GROUP BY
				mcu.user_id
		) AS t1 ON mc.user_id = t1.user_id
		LEFT JOIN (
			SELECT
				ocw.author_id as user_id,
				COUNT(ocw.id) AS channelWorldCount
			FROM
				hts.operations_channel_world ocw
			WHERE
				ocw.valid=1
			GROUP BY
				ocw.author_id
		) AS t2 ON mc.user_id = t2.user_id
		LEFT JOIN (
			SELECT
				mcu.user_id,
				MAX(hh.date_modified) AS lastActivityTime
			FROM
				hts.htworld_htworld hh
			LEFT JOIN hts_admin.op_channel_user mcu ON hh.author_id = mcu.user_id
			WHERE
				mcu.user_id IS NOT NULL
			AND mcu.valid = 1
			AND mcu.channel_id = #{channelId}
			GROUP BY
				mcu.user_id
		) AS t3 ON mc.user_id = t3.user_id
		WHERE
		mc.channel_id = #{channelId}	
		ORDER BY
			IF (
				ISNULL(t1.superbWorldCount) || t1.superbWorldCount,
				0,
				DATEDIFF(
					NOW(),
					STR_TO_DATE("2014-10-1", "%Y-%m-%d")
				) / t1.superbWorldCount * 3
			) +
			IF (
				ISNULL(t2.channelWorldCount) || t2.channelWorldCount,
				0,
				DATEDIFF(
					NOW(),
					STR_TO_DATE("2014-10-1", "%Y-%m-%d")
				) / t2.channelWorldCount * 3
			) +
			IF (
				 <![CDATA[	DATEDIFF(NOW(), mc.register_date) < 7,]]>
				10,
				CEIL(
					DATEDIFF(NOW(), mc.register_date) / 14
				)
			) + DATEDIFF(NOW(), t3.lastActivityTime)*2
		 ASC
		 LIMIT 0,#{limit}
	</select>
	
	<!-- 增加频道用户 -->
	<insert id="insertChannelUser">
		insert into op_channel_user (user_id,channel_id,register_date,valid,operator_id,date_add,date_modify)
		values (#{userId},#{channelId},#{registerDate},#{valid},#{operatorId},#{addDate,jdbcType=TIMESTAMP},#{modifyDate,jdbcType=TIMESTAMP})
	</insert>
	
	<!-- 删除频道用户 -->
	<delete id="deleteChannelUser">
		delete from op_channel_user 
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="channelId != null">
				and channel_id = #{channelId}
			</if>
			<if test="valid != null">
				and valid = #{valid}
			</if>
		</where> 
	</delete>
	
	<!-- 更新Valid -->
	<update id="updateChannelUserValid">
		update op_channel_user
		set valid=#{valid},date_modify=#{modifyDate,jdbcType=TIMESTAMP},operator_id=#{operatorId}
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="channelId != null">
				and channel_id = #{channelId}
			</if>
			<if test="valid != null">
				and valid = #{valid}
			</if>
		</where>
	</update>
	
	<!-- 分页查询 -->
	<select id="queryChannelUserForList" resultMap="ChannelUser">
		select ocu.*,ui.user_name as userName,aui.user_name as operatorName,oc.channel_name as channelName,max(hh.date_modified) as lastWorldDate
		from hts_admin.op_channel_user ocu left join hts_admin.admin_user_info aui
			on ocu.operator_id=aui.id
			left join hts.user_info ui
			on ocu.user_id=ui.id
			left join hts.operations_channel oc
			on ocu.channel_id=oc.id
			left join  hts.htworld_htworld hh 
			on ocu.user_id=hh.author_id
		<where>
			<if test="id != null">
				ocu.id = #{id}
			</if>
			<if test="userId != null">
				and ocu.user_id = #{userId}
			</if>
			<if test="channelId != null">
				and ocu.channel_id = #{channelId}
			</if>
			<if test="valid != null">
				and ocu.valid = #{valid}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[ and ocu.id <= #{maxId}]]>
			</if>
		</where>
		group by hh.author_id
		order by lastWorldDate desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>

	<!-- 查询织图用户总数 -->
	<select id="queryChannelUserCount" resultType="long">
		select count(1) from 
		hts_admin.op_channel_user ocu
		<where>
			<if test="id != null">
				ocu.id = #{id}
			</if>
			<if test="userId != null">
				and ocu.user_id = #{userId}
			</if>
			<if test="channelId != null">
				and ocu.channel_id = #{channelId}
			</if>
			<if test="valid != null">
				and ocu.valid = #{valid}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[ and ocu.id <= #{maxId}]]>
			</if>
		</where>
	</select>
	
	<!-- 批量删除,根据用户ids -->
	<delete id="deleteChannelUserByIds">
		delete from hts_admin.op_channel_user
		where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 根据织图id查询用户id -->
	<select id="queryUserIdByWorldId" resultType="Integer">
		select hh.author_id 
		from hts.htworld_htworld hh
		where hh.id=#{worldId}
	</select>
</mapper>

