<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.op.mapper.ChannelThemeMapper">

	<resultMap type="com.imzhitu.admin.common.pojo.ChannelTheme" id="ChannnelThemePojo">
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="theme_name" property="themeName" javaType="java.lang.String"/>
		<result column="valid" property="valid" javaType="java.lang.Integer"/>
		<result column="serial" property="serial" javaType="java.lang.Integer"/>
	</resultMap>
	
	<!-- 查询频道主题列表 -->
	<select id="queryAllTheme" resultMap="ChannnelThemePojo">
		select 
		 	* 
		from 
		 	hts.operations_channel_theme
		 order by serial desc
	</select>
	
	<!-- 查询总数 -->
	<select id="getTotal" resultType="Integer">
		select 
			count(*)
		from 
			 hts.operations_channel_theme
	</select>
	
	<!-- 插入新的主题 -->
	<insert id="insertChannelTheme">
		insert into 
		 	hts.operations_channel_theme(theme_name,valid,serial)
		values
			(#{themeName},1,0)
	</insert>
	
	<!-- 更新主题 -->
	<update id="updateChannelTheme">
		update 
			hts.operations_channel_theme
		set
			theme_name = #{themeName}	
		where
			id = #{themeId}	
	</update>
	
	<!-- 删除主题 -->
	<delete id="deleteChannelTheme">
		delete from 
			hts.operations_channel_theme
		where
			<if test="themeId != 0">
				id = #{themeId}		
			</if>
	</delete>
	
	<!-- 更新排序 -->
	<update id="updateChannelThemeSerial">
		update 
			hts.operations_channel_theme
		set
		    serial = #{serial}	
		where 
			id = #{id}    
	</update>
	
</mapper>