<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.op.mapper.OpChannelWorldSuperbSchedulaMapper">
	<resultMap type="com.imzhitu.admin.common.pojo.OpChannelWorldSchedulaDto" id="ChannelWorldSchedulaMapper">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="worldId" column="world_id" jdbcType="INTEGER"/>
		<result property="userId" column="user_id" jdbcType="INTEGER"/>
		<result property="channelId" column="channel_id" jdbcType="INTEGER"/>
		<result property="valid" column="valid" jdbcType="INTEGER"/>
		<result property="operatorId" column="operator_id" jdbcType="INTEGER"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="channelName" column="channel_name" jdbcType="VARCHAR"/>
		<result property="operatorName" column="operator_name" jdbcType="VARCHAR"/>
		<result property="addDate" column="date_add" jdbcType="TIMESTAMP"/>
		<result property="modifyDate" column="date_modify" jdbcType="TIMESTAMP"/>
		<result property="schedulaDate" column="date_schedula" jdbcType="TIMESTAMP"/>
		<result property="worldLink" column="short_link" jdbcType="VARCHAR"/>
		<result property="finish" column="finish" jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap type="com.imzhitu.admin.common.pojo.OpChannelWorldSchedulaDto" id="SchedulaMapper">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="worldId" column="world_id" jdbcType="INTEGER"/>
		<result property="channelId" column="channel_id" jdbcType="INTEGER"/>
		<result property="valid" column="valid" jdbcType="INTEGER"/>
		<result property="finish" column="finish" jdbcType="INTEGER"/>
		<result property="addDate" column="date_add" jdbcType="TIMESTAMP"/>
		<result property="modifyDate" column="date_modify" jdbcType="TIMESTAMP"/>
		<result property="schedulaDate" column="date_schedula" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 增加 -->
	<insert id="insertChannelWorldSuperbSchedula">
		insert into hts_admin.op_channel_world_superb_schedula
			(world_id, channel_id, operator_id, date_add, date_modify, date_schedula)
		values
			(#{worldId}, #{channelId}, #{operatorId}, #{addDate}, #{modifyDate}, #{schedulaDate})
	</insert>
	
	<!-- 删除频道精选计划 -->
	<delete id="delChannelWorldSuperbSchedula">
		delete from hts_admin.op_channel_world_superb_schedula
		<where>
			id in
			<foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</where>
	</delete>
	
	
	<!-- 修改频道精选有效性计划 -->
	<update id="updateChannelWorldSuperbSchedula">
		update hts_admin.op_channel_world_superb_schedula
		<set>
			<if test="schedulaDate != null">
				date_schedula = #{schedulaDate,jdbcType=TIMESTAMP},
			</if>
			<if test="operatorId != null">
				operator_id = #{operatorId},
			</if>
			<if test="finish != null">
				finish = #{finish},
			</if>
			date_modify = #{modifyDate,jdbcType=TIMESTAMP}
		</set>
		where
			<if test="id != null">
				id = #{id}
			</if>
			<trim prefix="" prefixOverrides="AND |OR ">
				<if test="channelId != null and worldId != null">
					and world_id = #{worldId}
					and channel_id = #{channelId}
				</if>
			</trim>
	</update>
	
	
		<!-- 分页查询频道精选计划 -->
	<select id="queryChannelWorldSuperbSchedulaForList" resultMap="ChannelWorldSchedulaMapper">
		select ocwss.*,aui.user_name as operator_name,hh.short_link,hh.author_id as user_id,oc.channel_name,ui.user_name from
		hts_admin.op_channel_world_superb_schedula ocwss
		
		left join 
		hts_admin.admin_user_info aui
		on ocwss.operator_id = aui.id
		left join
		hts.operations_channel oc
		on ocwss.channel_id=oc.id
		left join 
		hts.htworld_htworld hh
		on ocwss.world_id = hh.id
		left join
		hts.user_info ui
		on hh.author_id = ui.id
		<where>
			<if test="id != null">
				ocwss.id = #{id}
			</if>
			<if test="worldId != null">
				ocwss.world_id = #{worldId}
			</if>
			<if test="channelId != null">
				and ocwss.channel_id = #{channelId}
			</if>
			<if test="finish != null">
				and ocwss.finish = #{finish}
			</if>
			<if test="addDate != null">
				<![CDATA[ and ocwss.date_schedula >= #{addDate,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="modifyDate != null">
				<![CDATA[ and ocwss.date_schedula <= #{modifyDate,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[ and ocwss.id <= #{maxId}]]>
			</if>
		</where>
		order by ocwss.id desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	
		<!-- 分页查询精选总数 -->
	<select id="queryChannelWorldSuperbSchedulaCount" resultType="long">
		select count(ocwss.id)
		from hts_admin.op_channel_world_superb_schedula ocwss
		<where>
			<if test="id != null">
				ocwss.id = #{id}
			</if>
			<if test="worldId != null">
				ocwss.world_id = #{worldId}
			</if>
			<if test="channelId != null">
				and ocwss.channel_id = #{channelId}
			</if>
			<if test="finish != null">
				and ocwss.finish = #{finish}
			</if>
			<if test="addDate != null">
				<![CDATA[ and ocwss.date_schedula >= #{addDate,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="modifyDate != null">
				<![CDATA[ and ocwss.date_schedula <= #{modifyDate,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[ and ocwss.id <= #{maxId}]]>
			</if>
		</where>
	</select>
	
</mapper>