<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.op.mapper.OpChannelV2Mapper">
	<resultMap type="com.imzhitu.admin.common.pojo.OpChannelV2Dto" id="OpChannelV2Mapper">
		<result column="id" property="channelId" jdbcType="INTEGER"/>
		<result column="owner_id" property="ownerId" jdbcType="INTEGER"/>
		<result column="owner_name" property="ownerName" jdbcType="VARCHAR"/>
		<result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
		<result column="channel_title" property="channelTitle" jdbcType="VARCHAR"/>
		<result column="subtitle" property="subtitle" jdbcType="VARCHAR"/>
		<result column="channel_desc" property="channelDesc" jdbcType="VARCHAR"/>
		<result column="channel_icon" property="channelIcon" jdbcType="VARCHAR"/>
		<result column="sub_icon" property="channelSubIcon" jdbcType="VARCHAR"/>
		<result column="banner" property="channelBanner" jdbcType="VARCHAR"/>
		<result column="review" property="channelReview" jdbcType="VARCHAR"/>
		<result column="channel_type" property="channelTypeId" jdbcType="INTEGER"/>
		<result column="channel_type_name" property="channelTypeName" jdbcType="VARCHAR"/>
		<result column="channel_label" property="channelLabelNames" jdbcType="VARCHAR"/>
		<result column="label_ids" property="channelLabelIds" jdbcType="VARCHAR"/>
		<result column="world_count" property="worldCount" jdbcType="INTEGER"/>
		<result column="child_count" property="worldPictureCount" jdbcType="INTEGER"/>
		<result column="member_count" property="memberCount" jdbcType="INTEGER"/>
		<result column="superb_count" property="superbCount" jdbcType="INTEGER"/>
		<result column="child_count_base" property="childCountBase" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="BIGINT"/>
		<result column="last_modified" property="lastModifiedTime" jdbcType="BIGINT"/>
		<result column="superb" property="superb" jdbcType="INTEGER"/>
		<result column="top" property="top" jdbcType="INTEGER"/>
		<result column="valid" property="valid" jdbcType="INTEGER"/>
		<result column="serial" property="serial" jdbcType="INTEGER"/>
		<result column="danmu" property="danmu" jdbcType="INTEGER"/>
		<result column="mood" property="moodFlag" jdbcType="INTEGER"/>
		<result column="world" property="worldFlag" jdbcType="INTEGER"/>
		<result column="theme_id" property="themeId" jdbcType="INTEGER"/>
		<result column="theme_name" property="themeName" jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<resultMap type="com.imzhitu.admin.common.pojo.OpDataStatisticsDto" id="YestodayWorldAndMemberIncreasement">
	<result column="htworld_add_count" property="worldAddCount" jdbcType="INTEGER"/>
	<result column="member_add_count" property="memberAddCount" jdbcType="INTEGER"/>
	</resultMap>
	<!-- insert -->
	<insert id="insertOpChannel">
		insert into hts.operations_channel 
			(id, channel_desc, channel_icon, sub_icon, banner, review, channel_name,
			channel_type, owner_id, theme_id,create_time,last_modified,serial)
		values
			(#{channelId}, #{channelDesc},#{channelIcon},#{channelSubIcon},#{channelBanner},
			#{channelReview},#{channelName},#{channelTypeId},#{ownerId},#{themeId},#{createTime},#{lastModifiedTime},#{serial})
	</insert>
	
	<!-- delete -->
	<delete id="deleteOpChannel">
		delete from hts.operations_channel
		<where>
			<if test="channelId != null">
				id = #{channelId}
			</if>
			<if test="ownerId != null">
				and owner_id = #{ownerId}
			</if>
		</where>
	</delete>
	
	<update id="updateOpChannel">
		update hts.operations_channel
		<set>
			<if test="channelDesc != null">
				channel_desc = #{channelDesc},
			</if>
			<if test="channelIcon != null">
				channel_icon = #{channelIcon},
			</if>
			<if test="channelSubIcon != null">
				sub_icon = #{channelSubIcon},
			</if>
			<if test="channelBanner != null">
				banner = #{channelBanner},
			</if>
			<if test="channelReview != null">
				review = #{channelReview},
			</if>
			<if test="channelName != null">
				channel_name = #{channelName},
			</if>
			<if test="channelTypeId != null">
				channel_type = #{channelTypeId},
			</if>
			<if test="ownerId != null">
				owner_id = #{ownerId},
			</if>
			<if test="themeId != null">
				theme_id = #{themeId},
			</if>
			<if test="superb != null">
				superb = #{superb},
			</if>
			<if test="valid != null">
				valid = #{valid},
			</if>
			<if test="danmu != null">
				danmu = #{danmu},
			</if>
			<if test="moodFlag != null">
				mood = #{moodFlag},
			</if>
			<if test="worldFlag != null">
				world = #{worldFlag},
			</if>
			<if test="lastModifiedTime != null">
				last_modified = #{lastModifiedTime}
			</if>
		</set>
		where id = #{channelId}
	</update>
	
	<update id="updateOpChannelLabel">
		update hts.operations_channel
		<set>
			channel_label = #{channelLabelNames},
			label_ids = #{channelLabelIds},
		</set>
		where id = #{channelId}
	</update>
	
	<!-- 分页查询 -->
	<select id="queryOpChannel" resultMap="OpChannelV2Mapper">
		select 
			oc.*,
			u.user_name as owner_name,
			oct.theme_name,
			IFNULL(ctop.top,0) as top
		from hts.operations_channel  oc
		left join hts.operations_channel_theme  oct on oc.theme_id=oct.id
		left join hts.user_info u on u.id=oc.owner_id
		left join hts_admin.op_channel_top ctop on ctop.channel_id=oc.id
		<where>
			<if test="channelId != null">
				oc.id = #{channelId}
			</if>
			<if test="ownerId != null">
				and oc.owner_id = #{ownerId}
			</if>
			<if test="channelTypeId != null">
				and oc.channel_type = #{channelTypeId}
			</if>
			<if test="channelName != null">
				and oc.channel_name like CONCAT('%',#{channelName},'%')
			</if>
			<if test="superb != null">
				and oc.superb = #{superb}
			</if>
			<if test="valid != null">
				and oc.valid = #{valid}
			</if>
			<if test="serial != null">
				and oc.serial = #{serial}
			</if>
			<if test="danmu != null">
				and oc.danmu = #{danmu}
			</if>
			<if test="moodFlag != null">
				and oc.mood = #{moodFlag}
			</if>
			<if test="worldFlag != null">
				and oc.world = #{worldFlag}
			</if>
			<if test="themeId != null">
				and oc.theme_id = #{themeId}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and oc.serial <= #{maxId}]]>
			</if>
			<if test="top != null">
				and ctop.top = #{top}
			</if>
		</where>
		<if test="orderBy == null">
			order by oc.serial desc
		</if>
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<!-- 分页查询总数 -->
	<select id="queryOpChannelTotalCount" resultType="long">
		select 
			count(*) 
		from 
			hts.operations_channel oc
			left join hts_admin.op_channel_top ctop on ctop.channel_id=oc.id
		<where>
			<if test="channelId != null">
				oc.id = #{channelId}
			</if>
			<if test="ownerId != null">
				and oc.owner_id = #{ownerId}
			</if>
			<if test="channelTypeId != null">
				and oc.channel_type = #{channelTypeId}
			</if>
			<if test="channelName != null">
				and oc.channel_name like CONCAT('%',#{channelName},'%')
			</if>
			<if test="superb != null">
				and oc.superb = #{superb}
			</if>
			<if test="valid != null">
				and oc.valid = #{valid}
			</if>
			<if test="serial != null">
				and oc.serial = #{serial}
			</if>
			<if test="danmu != null">
				and oc.danmu = #{danmu}
			</if>
			<if test="moodFlag != null">
				and oc.mood = #{moodFlag}
			</if>
			<if test="worldFlag != null">
				and oc.world = #{worldFlag}
			</if>
			<if test="themeId != null">
				and oc.theme_id = #{themeId}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and oc.serial <= #{maxId}]]>
			</if>
			<if test="top != null">
				and ctop.top = #{top}
			</if>
		</where>
	</select>
	
	<!-- 根据ownerIds 来查询 -->
	<select id="queryOpChannelByOwnerIds" resultMap="OpChannelV2Mapper">
		select * from hts.operations_channel 
		where owner_id in
		<foreach item="item" index="index" collection="array"
	    	open="(" separator="," close=")">
	       		#{item}
	 	</foreach>
	</select>
	
	<!-- 查询昨日新增成员数。不包括马甲 -->
	<select id="queryYestodayMemberIncreasement" resultType="long">
		select count(*) from hts.operations_channel_member ocm 
		where ocm.channel_id = #{channelId}
		and ocm.sub_time between #{yestodayTime} and #{todayTime}
		and not exists ( select ouz.id
			from hts.operations_user_zombie ouz
			where ouz.user_id=ocm.user_id
		)
	</select>
	
	<!-- 查询昨日新增织图数 -->
	<select id="queryYestodayWorldAndMemberIncreasement" resultMap="YestodayWorldAndMemberIncreasement">
select htworld_add_count,member_add_count from hts_admin.op_data_statistics ds where ds.channel_id=#{channelId} ORDER BY ds.id DESC LIMIT 1 
	</select>
	
	<!-- 添加关联频道 -->
	<insert id="addRelatedChannel">
		insert into hts.operations_channel_link (channel_id,link_id,serial)
		values (#{channelId},#{linkChannelId},#{serial})
	</insert>
	
	<!-- 批量删除关联频道 -->
	<delete id="deleteRelatedChannel">
		delete from hts.operations_channel_link
		where channel_id = #{channelId} and link_id = #{linkChannelId}
	</delete>
	
	<!-- 关联频道重新排序，即刷新serial字段 -->
	<update id="updateRelatedChannelSerial">
		update hts.operations_channel_link
		<set>
			serial = #{serial}
		</set>
		where channel_id = #{channelId} and link_id = #{linkChannelId}
	</update>
	
	<!-- 添加频道置顶 -->
	<insert id="insertChannelTop">
		insert into hts_admin.op_channel_top (channel_id,top)
		values (#{channelId},1)
	</insert>
	
	<!-- 删除频道置顶 -->
	<delete id="deleteChannelTop">
		delete from hts_admin.op_channel_top
		where channel_id = #{channelId}
	</delete>
	
	<!-- 查询频道置顶表数据 -->
	<select id="queryChannelTop" resultMap="OpChannelV2Mapper">
		select 
			c0.id,c0.owner_id,c0.channel_name,
			c0.channel_title,c0.subtitle,c0.channel_desc,
			c0.channel_icon,c0.sub_icon,c0.banner,c0.channel_type,
			c0.channel_label,c0.label_ids,c0.world_count,
			c0.child_count,c0.member_count,c0.superb_count,
			c0.create_time,c0.last_modified,c0.superb,c0.theme_id,
			c0.serial,c0.danmu,c0.mood,c0.world,c0.review
		from hts.operations_channel  c0, hts_admin.op_channel_top ctop
		where ctop.channel_id = c0.id
		order by c0.serial desc
	</select>
	
</mapper>