<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.op.mapper.OpSuperbChannelRecommendMapper">
	<resultMap type="com.imzhitu.admin.common.pojo.OpSuperbChannelRecommend" id="SuperbChannelRecommendMap">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="channel_id" property="channelId" jdbcType="INTEGER"/>
		<result column="valid" property="valid" jdbcType="INTEGER"/>
		<result column="operatorId" property="operator" jdbcType="INTEGER"/>
		<result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
		<result column="operatorName" property="operatorName" jdbcType="VARCHAR"/>
		<result column="date_add" property="addDate" jdbcType="TIMESTAMP"/>
		<result column="date_modify" property="modifyDate" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- INSERT -->
	<insert id="insertSuperbChannelRecommend">
		insert hts_admin.op_superb_channel_recommend(channel_id,valid,operator,date_add,date_modify)
		values (#{channelId},#{valid},#{operatorId},#{addDate,jdbcType=TIMESTAMP},#{modifyDate,jdbcType=TIMESTAMP})
	</insert>
	
	<!-- batchDelete -->
	<delete id="batchDeleteSuperbChannelRecommend">
		delete from hts_admin.op_superb_channel_recommend 
		where id in 
		<foreach collection="array" item="item" index="index" open="(" close=")" separator="," > 
			#{item}
		</foreach> 
	</delete>
	
	<!-- batch update valid -->
	<update id="batchUpdateSuperbChannelRecommendValid">
		update hts_admin.op_superb_channel_recommend
		set valid=#{valid},date_modify=NOW()
		where id in 
		<foreach collection="ids" item="item" index="index" open="(" close=")" separator="," > 
			#{item}
		</foreach>
	</update>
	
	<select id="qeurySuperbChannelRecommend" resultMap="SuperbChannelRecommendMap">
		select oscr.*,oc.channel_name, aui.user_name as operatorName 
		from hts_admin.op_superb_channel_recommend oscr
			left join hts.operations_channel oc on oscr.channel_id=oc.id
			left join hts_admin.admin_user_info aui on oscr.operator=aui.id
		<where>
			<if test="id != null">
				oscr.id=#{id}
			</if>
			<if test="channelId != null">
				and oscr.channel_id=#{channelId}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and oscr.id <= #{maxId}]]>
			</if>
			<if test="valid != null">
				and oscr.valid = #{valid}
			</if>
		</where>
		order by id desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<select id="querySuperbChannelRecommendCount" resultType="long">
		select count(*) 
		from hts_admin.op_superb_channel_recommend oscr
		<where>
			<if test="id != null">
				oscr.id=#{id}
			</if>
			<if test="channelId != null">
				and oscr.channel_id=#{channelId}
			</if>
			<if test="maxId != null and maxId != 0">
				<![CDATA[and oscr.id <= #{maxId}]]>
			</if>
			<if test="valid != null">
				and oscr.valid = #{valid}
			</if>
		</where>
	</select>
	
</mapper>
