<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.op.mapper.OpZombieDegreeUserLevelMapper">
	
	<resultMap id="ZombieDegreeUserLevelMap" type="com.imzhitu.admin.common.pojo.OpZombieDegreeUserLevel">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="zombie_degree_id" property="zombieDegreeId" jdbcType="INTEGER"/>
		<result column="user_level_id" property="userLevelId" jdbcType="INTEGER"/>
		<result column="zombieDegreeName" property="zombieDegreeName" jdbcType="VARCHAR"/>
		<result column="userLevelName" property="userLevelName" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- INSERT -->
	<insert id="insertZombieDegreeUserLevel">
		insert into hts_admin.op_zombie_degree_user_level
		(zombie_degree_id,user_level_id)
		values
		(#{zombieDegreeId},#{userLevelId})
	</insert>
	
	<!-- BATCH DELETE -->
	<delete id="batchDeleteZombieDegreeUserLevel">
		delete from hts_admin.op_zombie_degree_user_level
		where id in
		<foreach collection="array" open="(" close=")" separator="," index="index" item="item">
			#{item}
		</foreach>
	</delete>
	
	<!-- SELECT -->
	<select id="queryZombieDegreeUserLevel" resultMap="ZombieDegreeUserLevelMap">
		select t.*,ozd.degree_name as zombieDegreeName,iul.level_description as userLevelName
		from hts_admin.op_zombie_degree_user_level t
		left join hts_admin.op_zombie_degree ozd on t.zombie_degree_id=ozd.id
		left join hts_admin.interact_user_level iul on t.user_level_id=iul.id
		<where>
			<if test="id != null">
				t.id = #{id}
			</if>
			<if test="maxId != null and maxId != 0">
			  	<![CDATA[and  t.id <= #{maxId}]]>
			</if>
			<if test="zombieDegreeId != null">
				and t.zombie_degree_id  = #{zombieDegreeId}
			</if>
			<if test="userLevelId != null" >
				and t.user_level_id = #{userLevelId}
			</if>
		</where>
		order by t.id desc
		<include refid="com.imzhitu.admin.common.mapper.NumberMapper.Pagination_Clause"/>
	</select>
	
	<!-- SELECT TOTAL COUNT -->
	<select id="queryZombieDegreeUserLevelTotalCount" resultType="long">
		select count(*)
		from hts_admin.op_zombie_degree_user_level t
		<where>
			<if test="id != null">
				t.id = #{id}
			</if>
			<if test="maxId != null and maxId != 0">
			  	<![CDATA[and  t.id <= #{maxId}]]>
			</if>
			<if test="zombieDegreeId != null">
				and t.zombie_degree_id  = #{zombieDegreeId}
			</if>
			<if test="userLevelId != null" >
				and t.user_level_id = #{userLevelId}
			</if>
		</where>
	</select>
	
</mapper>