<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.op.mapper.SysMsgMapper">
	
	<resultMap id="OpSysMsgMap" type="com.imzhitu.admin.common.pojo.OpSysMsg">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="recipient_id" property="recipientId" jdbcType="INTEGER"/>
		<result column="msg_date" property="msgDate" jdbcType="TIMESTAMP" />
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<result column="obj_type" property="objType" jdbcType="INTEGER"/>
		<result column="obj_id" property="objId" jdbcType="INTEGER"/>
		<result column="obj_meta" property="objMeta" jdbcType="VARCHAR"/>
		<result column="obj_meta2" property="objMeta2" jdbcType="VARCHAR"/>
		<result column="thumb_path" property="thumbPath" jdbcType="VARCHAR"/>
	</resultMap>


	<insert id="saveMsg">
		insert into hts.operations_sys_msg (id, recipient_id,content,obj_type,obj_meta,
			obj_meta2, obj_id, thumb_path) values (#{id},#{recipientId},#{content},#{objType},
			 #{objMeta},#{objMeta2},#{objId},#{thumbPath})
	</insert>
	
	<!-- 查询发送的信息 -->
 	<select id="getLastMsg" resultMap="OpSysMsgMap">
		select * 
		from 
			hts.operations_sys_msg 
		<where>
			<if test="senderId != null">
				sender_id = #{senderId}
			</if>
			<if test="recipientId != null">
				and recipient_id = #{recipientId}
			</if>
			<if test="objType != null">
				and obj_type = #{objType}
			</if>
			<if test="objId != null">
				and obj_id = #{objId}
			</if>
			<if test="objMeta != null">
				and obj_meta = #{objMeta}
			</if>
			<if test="objMeta2 != null">
				and obj_meta2 = #{objMeta2}
			</if>
		</where>
		order by id desc
		limit 0,1;
	</select> 
</mapper>