<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imzhitu.admin.trade.shop.mapper.ShopTypeMapper">

	<resultMap id="ShopTypeMap" type="com.imzhitu.admin.trade.shop.pojo.ShopType">
		<id column="id" property="id" javaType="java.lang.Integer"/>
		<result column="name" property="name" javaType="java.lang.String"/>
	</resultMap>
	
	<!-- 新增商家类型 -->
	<insert id="insertShopType">
		insert into 
			hts_trade.shop_type 
			(name)
	 	values 
	 		(#{name})
	</insert>

	<!-- 获取商家类型 -->
	<select id="queryShopType" resultMap="ShopTypeMap">
		select 
			* 
		from 
			hts_trade.shop_type
	</select>

	<!-- 根据id删除商家类型 -->
	<delete id="delete">
		delete from hts_trade.shop_type where id = #{id}
	</delete>
	
</mapper>